<style scoped lang='scss'>
  @mixin input {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 35px;
    flex: 1;
    padding-right: 30px;
    .input-type {
      font-size: 32px;
      color: #151515;
      position: absolute;
      top: 0;
      left: 0;
    }
    .input {
      padding-bottom: 25px;
      text-align: right;
      font-size: 30px;
      width: 100%;
      flex: 1;
      color: #666666;
    }
    .icon-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 16px;
      top: 20px;
    }
    .icon-avatar {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      position: absolute;
      right: 46px;
      top: -25px;
    }
  }

  .root {
    padding: 0 30px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    .input-wrap {
      @include input;
    }
    .save-btn {
      width: 550px;
      height: 83px;
      background-color: #00c168;
      font-size: 30px;
      line-height: 83px;
      text-align: center;
      color: white;
      border-radius: 100px;
      margin: 690px auto 0 auto;
    }
  }
</style>
<template>
  <form class="root">
    <!-- 0:期望职位,1:期望城市 -->
    <picker class="input-wrap" mode="selector" :range="config.position" @change="choose" range-key="name"  :key="item" :data-type="item" :value="expectJob.val">
      <span class="input-type">期望职位</span>
      <input type="text" class="input" disabled :value="expectJob.name" placeholder="请选择" placeholder-style="color:#ccc;">
      <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png?v=1.0" alt="" class="icon-arrow">
    </picker>
    <LinkCell :options="city"></LinkCell>
    <button class="save-btn" @click="save">保存</button>
  </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import { store } from '@/store/modules/index'
  import LinkCell from '@/components/LinkCell'
  export default {
    mounted() {
      const config = utils.deepClone(this.$store.state.config)
      this.config = config;
      if (this.config.position[0].name !== '不限') {
        this.config.position.unshift({ name: '不限', code: '' });
      }
      store.commit('getCondition');
      let condition = store.state.condition;
      condition.expectJob ? this.expectJob = condition.expectJob : {};
      this.config.position.forEach((e, index) => {
        if (Number(e.code) === Number(this.expectJob.code)) {
          this.expectJob = e;
          this.expectJob.val = index;
        }
      });
      console.log(this.config.position[this.expectJob.val]);
    },
    data() {
      return {
        config: '',
        expectJob: {},
        city: { url: '/pages/public/search?sub=1', text: '期望城市', val: '' }
      }
    },
    methods: {
      choose: function (e) {
        this.expectJob = this.config['position'][e.mp.detail.value];
      },
      save: function () {
        store.commit('addCondition', { expectJob: this.expectJob, expectCity: this.expectCity });
        utils.saveSuccess();
      }
    },
    computed: {
      expectCity() {
        if (store.state.expectCity.name) {
          this.city.val = store.state.expectCity.name;
          return store.state.expectCity;
        } else {
          this.city.val = store.state.condition.expectCity.name;
          return store.state.condition.expectCity;
        }
      }
    },
    components: {
      LinkCell
    },
    onUnload() {
      store.commit('setExpectCity', {});
    }
  }
</script>