<style scoped lang='scss'>
  .root {
    .collection-list {
      padding: 0 30px;
      box-sizing: border-box;
      .collection-item {
        padding: 25px 0;
        display: flex;
        border-bottom: 1px solid #f3f3f3;
        .job-item {
          width: 110px;
          height: 100px;
          border-radius: 50%;
          margin-right: 25px;
        }
        .job-info {
          flex: 1;
          .job-title {
            font-size: 32px;
            margin-bottom: 15px;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            .title {
              color: #2b2b2b;
            }
            .salary {
              color: #ff4b3b;
            }
          }
          .compony-name {
            font-size: 29px;
            color: #4e4e4e;
            margin-bottom: 23px;
          }
          .address {
            font-size: 29px;
            color: #a3a3a3;
          }
        }
      }
    }
    .empty-btn {
      font-size: 38px;
      color: white;
      width: 687px;
      height: 100px;
      background-color: #00c168;
      line-height: 100px;
      text-align: center;
      margin: 100px auto 0 auto;
      border-radius: 10px;
    }
    .fixed {
      position: fixed;
      left: 50%;
      bottom: 100px;
      transform: translateX(-50%);
    }
  }
</style>
<template>
  <div class="root">
    <div class="collection-list">
      <a open-type="redirect" class="collection-item" v-for="(item,index) in collection" :key="index" :href="'/pages/job-seek/job-desc?id=' + item.detailsid">
        <img :src="item.logo_src" alt="" class="job-item">
        <div class="job-info">
          <div class="job-title">
            <span class="title">{{item.name}}</span>
            <span class="salary">{{item.salary}}</span>
          </div>
          <div class="compony-name">{{item.school}}</div>
          <div class="address">{{item.address}} | {{item.undergo}} | {{item.educ}}</div>
        </div>
      </a>
    </div>
    <Nothing tips="职位收藏夹是空的" showBtn="true" v-if="collection.length === 0"></Nothing>
    <div :class="['empty-btn',{'fixed':collection.length < 4}]" @click="empty" v-if="collection.length > 0">清空收藏夹</div>
  </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import Nothing from '@/components/Nothing'
  export default {
    components: {
      Nothing
    },
    async mounted() {
      this.getData();
    },
    data() {
      return {
        collection: [],
        page: 1
      }
    },
    methods: {
      getData: async function () {
        let result = await utils.ajax(`/collect?page=${this.page}`);
        this.page > 1 ? this.collection = this.collection.concat(result.data.collection.data) : this.collection = result.data.collect.data;
      },
      empty: async function () {
        wx.showModal({
          title: '提示',
          content: '你确定要情况所有收藏的职位吗',
          showCancel: true,
          cancelText: '取消',
          cancelColor: '#c4c3c9',
          confirmText: '确定',
          confirmColor: '#2b2b2b',
          success: async res => {
            if (res.confirm) {
              const result = await utils.ajax('/delposition');
              result.status > 0 ? this.collection = [] : '';
            }
          }
        });
      }
    }
  }
</script>