<style scoped lang='scss'>
  .mysend {
    .nav-bar {
      height: 80px;
      display: flex;
      width: 100%;
      box-shadow: 0px -4px 20px rgba($color: #000000, $alpha: 0.2);
      .nav-item {
        color: #a3a3a3;
        font-size: 32px;
        flex: 1;
        line-height: 80px;
        text-align: center;
      }
      .active {
        color: #00c168;
      }
    }
    .send-wrap {
      padding: 0 30px;
      width: 100%;
      box-sizing: border-box;
      .send-item {
        border-bottom: 1px solid #f2f2f2;
        box-sizing: border-box;
        padding: 35px 0;
        display: flex;
        .job-avatar {
          height: 90px;
          width: 90px;
          border-radius: 50%;
          margin-right: 30px;
        }
        .job-info {
          width: 100%;
          flex: 1;
          .job-title {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: space-between;
            width: 100%;
            span:first-of-type {
              color: #2b2b2b;
              font-size: 32px;
              font-weight: bold;
            }
            .timestamp {
              font-size: 24px;
              color: #a3a3a3;
            }
          }
          .job-address {
            font-size: 28px;
            color: #4e4e4e;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
          }
          .salary {
            font-size: 28px;
            color: #ff4b3b;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .status {
              font-size: 28px;
              color: #00c168;
            }
          }
        }
      }
    }
  }
</style>
<template>
  <div class="mysend">
    <div class="nav-bar">
      <div :class="[active === index ? 'active' : '', 'nav-item']" v-for="item in nav" :key="item" @click="navChange(index)">{{item}}</div>
    </div>
    <div class="send-wrap" v-if="sendList.length > 0" >
      <div class="send-item" v-for="(item,index) in sendList" :key="index" @click="viewStatus(item.detailsid)">
        <img :src="item.logo_src" alt="" class="job-avatar">
        <div class="job-info">
          <div class="job-title">
            <span>{{item.name}}</span>
            <span class="timestamp">{{item.datatime}}</span>
          </div>
          <p class="job-address">{{item.address}} | {{item.school}}</p>
          <p class="salary">
            <span>{{item.salary}}</span>
            <span class="status" v-if="item.status > 1">{{item.status === 2 ? '被查看' : ''}} {{item.status === 3 ? '面试' : ''}} {{item.status === 4 ? '不合适' : ''}}</span>
          </p>
        </div>
      </div>
    </div>
    <!-- 投递记录为空 -->
    <Nothing :tips="hint" showBtn="true" v-if="sendList.length === 0"></Nothing>
  </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import Nothing from '@/components/Nothing'
  export default {
    components: {
      Nothing
    },
    data() {
      return {
        nav: ['全部', '被查看', '面试'], // 移除了不合适
        page: 1,
        sendList: [],
        active: 0,
        hint: '投递记录为空' // 空提示文字
      }
    },
    async mounted() {
      this.getData();
    },
    methods: {
      getData: async function (status = 1) {
        let mailing = await utils.ajax(`/mailing?status=${status}&page=${this.page}`);
        this.page > 1 ? this.sendList = this.sendList.concat(mailing.data.mailing.data) : this.sendList = mailing.data.mailing.data;
      },
      navChange: async function (index) {
        this.page = 1;
        this.active = index;
        this.getData(++index);
        switch (index) {
          case 1:
            this.hint = '记录为空';
            break;
          case 2:
            this.hint = '被查看记录为空';
            break;
          case 3:
            this.hint = '面试记录为空';
            break;
        }
      },
      viewStatus: function (id) {
        wx.navigateTo({
          url: `/pages/job-seek/send-status?id=${id}`
        });
      }
    },
    onReachBottom() {
      this.page++;
      this.getData();
    }
  }
</script>