<style scoped lang='scss'>
.bind-phone {
  .safety-tips {
    margin-top: 55px;
    text-align: center;
    .icon-shield {
      width: 104px;
      height: 108px;
      margin-bottom: 50px;
    }
    .tips-text {
      font-size: 32px;
      color: #999999;
      text-align: center;
    }
  }
  .bnt-wrap {
    margin-top: 369px;
    text-align: center;
    .get-phone {
      width: 400px;
      height: 121px;
      background-color: #00c168;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      color: #fff;
      margin: 0 auto;
      .icon-point {
        width: 40px;
        height: 48px;
        margin-right: 15px;
      }
    }
    .go-input {
      width: 400px;
      height: 121px;
      line-height: 121px;
      border-radius: 100px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      font-size: 36px;
      color: #cccccc;
      margin: 50px auto 0 auto;
    }
  }
  .input-wrap {
    .back {
      width: 640px;
      height: 100px;
      border: 1px solid #00c168;
      color: #00c168;
      font-size: 36px;
      line-height: 100px;
      text-align: center;
      border-radius: 100px;
      margin: 40px auto 0 auto;
      box-sizing: border-box;
    }
  }
}
</style>
<template>
  <div class="bind-phone">
    <div class="safety-tips">
      <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-shield.png" alt="" class="icon-shield">
      <p class="tips-text">为了您的账户安全，请先绑定手机号</p>
    </div>
    <div v-if="!showInput" class="bnt-wrap">
      <button class="get-phone" open-type="getPhoneNumber" @getphonenumber="getPhone">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-point.png" alt="" class="icon-point">
        <span>一键绑定</span>
      </button>
      <div class="go-input" @click="showInput = true">手动绑定</div>
    </div>
    <div v-if="showInput" class="input-wrap">
      <Reset :reset="reset" @loginSuccess="loginSuccess"/>
      <div class="back" @click="showInput = false">返回</div>
    </div>
  </div>
</template>

<script>
import utils from '@/utils/index.js'
import Reset from '@/components/Reset'
export default {
  components: {
    Reset
  },
  data() {
    return {
      code: '',
      reset: { type: 3, btnText: '立即绑定', placeholder: '请输入常用手机号', unionid: this.$store.state.unionid },
      showInput: false
    }
  },
  async mounted() {
    const code = await utils.login();
    [this.code, this.reset.code] = [code, code]
  },
  methods: {
    async getPhone(res) {
      if (!res.mp.detail.encryptedData || !res.mp.detail.iv) {
        utils.toast('登录失败')
        const code = await utils.login();
        [this.code, this.reset.code] = [code, code]
        return false
      }
      try {
        const result = await utils.ajax('/weilogin', {
          encryptedData: res.mp.detail.encryptedData,
          iv: res.mp.detail.iv,
          code: this.code,
          unionid: this.$store.state.unionid,
          weiname: this.$store.state.weiUserInfo.nickName
        })
        wx.setStorageSync('token', result.data.token)
        this.loginSuccess()
      } catch (error) {
        utils.toast('登录失败！')
      }
    },
    async loginSuccess() {
      this.$store.commit('loginStatus', true)
      await this.$store.dispatch('getUserInfo')
      utils.saveSuccess('登录成功')
    }
  }
}
</script>
