<style scoped lang='scss'>
@mixin input {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  margin-top: 35px;
  flex: 1;
  .input-type {
    font-size: 32px;
    color: #151515;
    position: absolute;
    top: 0;
    left: 0;
  }
  .input {
    padding-bottom: 25px;
    text-align: right;
    font-size: 30px;
    width: 650px;
    flex: 1;
  }
  .icon-arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 26px;
    top: 15px;
  }
  .icon-avatar {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    position: absolute;
    right: 46px;
    top: -25px;
  }
}

.root {
  .form {
    padding: 65px 50px 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .input-wrap {
      width: 100%;
      @include input();
    }
    .picker-wrap {
      .input {
        width: 604px;
      }
    }
    .sub-btn {
      width: 550px;
      height: 83px;
      background-color: #00c168;
      font-size: 30px;
      line-height: 83px;
      text-align: center;
      color: white;
      border-radius: 100px;
      margin: 50px auto 0 auto;
    }
  }
  .identity-choice {
    padding-top: 107px;
    box-sizing: border-box;
    .item-wrap {
      text-align: center;
      .item-icon {
        width: 270px;
        height: 270px;
        margin-bottom: 36px;
      }
      .item-btn {
        width: 420px;
        height: 89px;
        background-color: #00c168;
        text-align: center;
        line-height: 89px;
        font-size: 30px;
        color: white;
        border-radius: 10px;
        margin: 0 auto;
      }
      &:last-of-type {
        margin-top: 95px;
        .item-btn {
          background-color: #a577cf;
        }
      }
    }
  }
}
</style>
<template>
  <div class="root">
    <!-- 完善用户信息 -->
    <form v-if="showType === 0 || showType === 3" class="form" @submit="completeInfo">
      <!-- <div class='input-wrap' @click='uploadImage'>
        <span class='input-type'>头像</span>
        <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png' alt='' class='icon-arrow'>
        <img :src='avatar.src' alt='' class='icon-avatar'>
        <input type='text' class='input'  disabled='true' name='user_images' v-model='avatar.key' style='font-size:0;'>
      </div>  -->
      <!-- 文本输入框 -->
      <div v-for="(item,key) in inputArr" :key="key" class="input-wrap" style="order:0;">
        <span class="input-type">{{ item.key }}</span>
        <input :name="item.name" :placeholder="item.text" v-model="item.val" type="text" class="input" maxlength="20">
      </div>
      <!-- 选择框 -->
      <!-- <picker class='input-wrap picker-wrap' mode='selector' :range="['男', '女']" @change='sexChange' name='sex'>
        <span class='input-type'>性别</span>
        <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png' alt='' class='icon-arrow'>
        <input type='text' class='input' disabled='true' v-model='sex' placeholder='请选择'>
      </picker>
      <picker class='input-wrap picker-wrap' mode='date' value='1996-08-03' @change='birthdayChange' name='birthday' start="1960-01-01" :end="endDate">
        <span class='input-type'>出生年月</span>
        <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png' alt='' class='icon-arrow'>
        <input type='text' class='input' disabled='true' v-model='birthday' placeholder='请选择'>
      </picker> -->
      <button class="sub-btn" form-type="submit">{{ showType === 3 ? '保存' : '下一步' }}</button>
    </form>
    <!-- 身份选择 -->
    <div v-if="showType === 1" class="identity-choice">
      <div class="item-wrap" @click="changeIdentity(1)">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-jobSeek.png" alt="" class="item-icon">
        <button class="item-btn">我要找工作</button>
      </div>
      <div class="item-wrap" @click="changeIdentity(2)">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-recruitment.png" alt="" class="item-icon">
        <button class="item-btn">我是园长，我要招人</button>
      </div>
    </div>
  </div>
</template>

<script>
import utils from '@/utils/index.js'
export default {
  components: {},
  data() {
    return {
      showType: -1, // 0:显示完善信息 1:显示选择身份 3:修改个人信息
      inputArr: {
        name: { text: '请填写', key: '姓名', name: 'name', val: '' },
        tel: { text: '请填写手机号', key: '联系方式', name: 'tel', val: '' },
        job: {
          text: '你的职位，如：执行园长',
          key: '当前职位',
          name: 'position',
          val: ''
        }
      }
    }
  },
  mounted() {
    this.showType = Number(this.$root.$mp.query.showType)
    this.endDate = utils.getDate()
    if (this.showType === 1) {
      wx.setNavigationBarTitle({ title: '身份选择' })
    } else if (this.showType === 3) {
      wx.setNavigationBarTitle({ title: '招聘者身份' })
    }
    const recruit = this.$store.state.recruiter
    if (recruit.recruit_name) {
      [this.inputArr.name.val, this.inputArr.tel.val, this.inputArr.job.val] = [recruit.recruit_name, recruit.recruit_tel, recruit.recruit_position]
    }
  },
  methods: {
    completeInfo: async function(e) {
      const form = e.mp.detail.value
      for (const i in form) {
        switch (i) {
          case 'name':
            if (!utils.validate(form[i].length > 0, '姓名不能为空')) {
              return false
            } else {
              break
            }
          case 'tel':
            if (!utils.validate({ type: 'phone', value: form[i] })) {
              return false
            } else {
              break
            }
          case 'position':
            if (!utils.validate(form[i].length > 0, '请填写最近职位')) {
              return false
            } else {
              break
            }
        }
      }
      await utils.ajax('/recruit', form)
      const myresumes = this.$store.state.myresume;
      [myresumes.recruit_name, myresumes.recruit_tel, myresumes.recruit_position] = [form.name, form.tel, form.position]
      this.$store.commit('setMyresume', myresumes)
      utils.saveSuccess()
    },
    changeIdentity: async function(value) {
      await utils.ajax('/updataidentity?identity=' + value)
      utils.toast('选择成功!')
      wx.switchTab({
        url: '/pages/tab-bar/index'
      })
    }
  }
}
</script>
