<style scoped lang='scss'>
@mixin input {
  width: 540px;
  border-bottom: 1px solid #edeff1;
  padding-bottom: 25px;
  font-size: 34px;
  margin: 0 auto;
  margin-bottom: 65px;
}

@mixin loginCode {
  width: 540px;
  position: relative;
  margin: 0 auto;
  .getCode-btn,
  .countDown-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    color: white;
    background-color: #fe7955;
    width: 150px;
    height: 66px;
    line-height: 66px;
    border-radius: 8px;
    text-align: center;
    z-index: 10;
    border-radius: 100px;
  }
  .countDown-btn {
    background-color: #c2c9d0;
  }
  .empty-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10;
    background-image: url(http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-emptyPassword.png);
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@mixin btn {
  width: 550px;
  height: 83px;
  background-color: #00c168;
  font-size: 30px;
  line-height: 83px;
  text-align: center;
  color: white;
  border-radius: 100px;
  margin: 50px auto 0 auto;
}

@mixin form {
  display: block;
  input {
    @include input();
  }
  .verification-code {
    @include loginCode();
  }
}

input {
  transition: all 0.3s;
}

input:hover {
  border-color: #00c168 !important;
}

.disabled-btn {
  background-color: #c2c9d0 !important;
}

.root {
  padding-top: 150px;
  .login-wrap {
    padding-top: 80px;
    box-sizing: border-box;
    .logo {
      width: 185px;
      height: 210px;
      display: block;
      margin: 0 auto 100px auto;
    }
    .form {
      display: block;
      padding-top: 65px;
      .phone,
      .v-code,
      .password-input {
        @include input();
      }
      input:focus {
        border-color: #62e4b2 !important;
      }
      .verification-code,
      .password-wrap {
        @include loginCode();
      }
      .sub-btn {
        @include btn();
      }
      .forget-password {
        font-size: 24px;
        color: #27cc91;
        margin: 25px auto 0 auto;
        width: 550px;
      }
    }
    .login-btn {
      margin-top: 40px;
      text-align: center;
      span {
        font-size: 30px;
        color: #999999;
        position: relative;
        &::after {
          content: "\00A0";
          background-image: url(http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-next.png);
          background-size: 100% 100%;
          width: 8px;
          height: 16px;
          position: absolute;
          top: 15px;
          right: -20px;
        }
      }
    }
  }
  .bind-phone {
    .bind-hint {
      font-size: 40px;
      color: #c4c3c9;
      margin-top: 120px;
      text-align: center; // position: absolute;
    }
  }
}

.input-wrap {
  position: relative;
  .icon-empty {
    width: 29px;
    height: 29px;
    position: absolute;
    right: 110px;
    top: 15px;
    z-index: 50;
  }
}
</style>
<template>
  <div class="root">
    <!-- 账号密码以及短信登录 -->
    <div class="login-wrap">
      <form class="form" @submit="login">
        <div class="input-wrap">
          <input v-model="phone" type="number" name="phone" placeholder="请输入常用手机号" class="phone" focus="true" maxlength="11">
          <img v-if="phone.length > 0" src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-emptyPassword.png" alt="" class="icon-empty" @click="phone = ''">
        </div>
        <!-- 验证码输入框 -->
        <div v-if="loginType === 1" class="verification-code">
          <input v-model="loginCode" type="number" placeholder="请输入收到的验证码" class="v-code" name="loginCode" maxlength="6">
          <div v-if="countDown >= 60" class="getCode-btn" @click="getCode(1)">获取验证码</div>
          <div v-if="countDown < 60" class="countDown-btn">{{ countDown }}s后重试</div>
        </div>
        <!-- 密码输入框 -->
        <div v-if="loginType === 2" class="password-wrap">
          <input v-model="password" password="true" placeholder="请输入密码" class="password-input" name="password">
          <div v-if="password.length > 0" class="empty-btn" @click="password = &quot;&quot;"/>
        </div>
        <button v-if="phone.length > 0 " class="sub-btn" formType="submit">登录</button>
        <button v-if="phone.length === 0 " class="sub-btn disabled-btn" disabled="true">登录</button>
      </form>
      <p class="login-btn">
        <span v-if="loginType === 1" @click="changeLoingType(2)">账号密码登录</span>
        <span v-if="loginType === 2" @click="changeLoingType(1)">短信登录</span>
      </p>
    </div>
  </div>
</template>
<script>
import utils from '@/utils/index.js'
export default {
  data() {
    return {
      loginType: 1, //  登录类型 1：短信登录 2：账号密码登录
      phone: '', // 获取填写的手机号
      password: '', //  获取填写的密码
      loginCode: '', // 获取填写验证码
      countDown: 60, // 发送短信倒计时
      timer: '', // 用来清除Interval,
      resetPw: { type: 1, text: '请输入注册手机号码', btnText: '重置密码' },
      bindPhone: { type: 2, text: '请输入要绑定的手机号码', btnText: '立即绑定' },
      flag: 1,
      code: ''
    }
  },
  computed: {
    fatPhone: function() {
      return this.phone.trim()
    },
    fatPassword: function() {
      return this.password.trim()
    },
    fatLoginCode: function() {
      return this.loginCode.trim()
    }
  },
  async mounted() {
    const code = await utils.login()
    this.code = code
  },
  methods: {
    /** 获取验证码 */
    getCode: async function(type) {
      if (utils.validate({ type: 'phone', value: this.fatPhone })) {
        const result = await utils.ajax('/sendsms?phone=' + this.fatPhone + '&smstype=' + type)
        if (Number(result.status) === 1) {
          wx.showToast({
            title: result.msg,
            icon: 'none',
            duration: 1500,
            mask: false
          })
          this.countDown--
          this.timer = setInterval(() => {
            if (this.countDown <= 0) {
              this.countDown = 60
              clearInterval(this.timer)
              return
            }
            this.countDown--
          }, 1000)
        }
      }
    },
    changeLoingType: function(type) {
      this.loginType = Number(type)
    },
    /** 登录 */
    login: async function(form) {
      const data = {
        phone: this.fatPhone,
        logintype: this.loginType
      }
      switch (this.loginType) {
        case 1:
        { const loginCode = this.fatLoginCode
          if (utils.validate({ type: 'phone', value: this.phone }) && utils.validate(loginCode.length === 4, '验证码不能为空/验证码错误')) {
            data.logincode = loginCode
          } else {
            return false
          }
          break
        }
        case 2:
        {
          const password = this.fatPassword
          if (utils.validate({ type: 'phone', value: this.phone }) && utils.validate(password.length >= 6 && password.length <= 18, '密码长度为6-18位')) {
            data.password = password
          } else {
            return false
          }
          break
        }
      }
      const result = await utils.ajax('/login', data)
      wx.showToast({ icon: 'success', title: result.msg })
      wx.setStorageSync('token', result.data.token)
      await utils.ajax('/user')
      this.$store.commit('loginStatus', true)
      wx.switchTab({ url: '/pages/tab-bar/index' })
    },
    getPhoneNumber: async function(res) {
      try {
        const result = await utils.ajax('/weilogin', { encryptedData: res.mp.detail.encryptedData, iv: res.mp.detail.iv, code: this.code })
        wx.setStorageSync('token', result.data.token)
        this.show = false
        utils.toast('登录成功！')
        await this.$store.dispatch('getUserInfo')
        wx.switchTab({ url: '/pages/tab-bar/index' })
      } catch (error) {
        utils.toast('网络异常,请重新登录！')
      }
    }
  }
}
</script>
