<style scoped lang='scss'>
  .interview {
    .header {
      padding-top: 32px;
      text-align: center;
      .user-avatar {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: gray;
        margin-bottom: 25px;
      }
      .user-name {
        font-size: 30px;
        color: #a3a3a3;
        text-align: center;
        margin-bottom: 34px;
      }
      .job-title {
        padding: 11px 16px;
        background-color: #f7f8fa;
        font-size: 30px;
        color: #4d4d4d;
        display: inline-block;
      }
    }
    .form {
      margin-top: 50px;
      padding: 0 30px;
      .address-wrap {
        margin-top: 36px;
        .address-title {
          font-size: 32px;
          color: #2b2b2b;
          margin-bottom: 39px;
        }
        .textarea {
          height: 160px;
          width: 690px;
          background-color: #f7f8fa;
          font-size: 30px;
          padding: 20px 30px;
          box-sizing: border-box;
        }
        .save {
          margin-top: 30px;
          border-radius: 10px;
        }
      }
    }
  }
</style>
<template>
 <div class="interview">
   <header class="header">
     <img :src="userInfo.img"  alt="" class="user-avatar">
     <p class="user-name">{{userInfo.name}}</p>
     <p class="job-title">面试职位：{{userInfo.job}}</p>
   </header>
   <form class="form" @submit="submit">
     <Pick v-for="(item,index) in picker" :key="index" :options="item"></Pick>
     <In v-for="(item,index) in input" :key="index" :input="item"></In>
     <div class="address-wrap">
       <p class="address-title">面试地点</p>
       <textarea class="textarea" placeholder="告诉面试者详细的面试地点" name="address" v-model="address"></textarea>
       <button class="save" form-type="submit">发送邀请</button>
     </div>
   </form>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import Pick from '@/components/Picker'
  import In from '@/components/Input'
  export default {
    onLoad() {
      const date = new Date();
      this.picker[0].start = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
      const options = this.$root.$mp.query;
      this.userInfo = options;
      this.init();
    },
    components: {
      Pick,
      In
    },
    data() {
      return {
        picker: [
          { title: '面试日期', range: [], name: 'data', val: '', mode: 'date', order: 0, start: '' },
          { title: '具体时间', range: [], name: 'time', val: '', mode: 'time', order: 0 },
        ],
        input: [
          { title: '联系人', name: 'name', placeholder: '请填写, 15个字以内', order: 0, type: 'text', val: '' },
          { title: '联系电话', name: 'phone', placeholder: '请填写, 15个字以内', order: 0, type: 'text', val: '' }
        ],
        userInfo: {},
        address: ''
      }
    },
    methods: {
      submit: async function (e) {
        const form = e.mp.detail.value;
        for (let i in form) {
          if (i === 'phone') {
            if (!utils.validate({ type: 'phone', value: form[i] })) { return false; }
          }
          if (!utils.validate(form[i], '还没填完哦！')) { return false; }
        }
        form.time = form.time + ':00';
        form.mailingid = this.userInfo.mailingid;
        const res = await utils.ajax('/interview', form);
        utils.saveSuccess(res.data);
      },
      init: function () {
        const recruiter = this.$store.state.recruiter;
        if (recruiter) {
          [this.input[0].val, this.input[1].val, this.address] = [recruiter.recruit_name, recruiter.recruit_tel, recruiter.school_address_detailed];
        }
      }
    }
  }
</script>