<style scoped lang='scss'>
  .jobManage {
    .nav {
      height: 100px;
      color: #8b8b8b;
      font-size: 32px;
      display: flex;
      box-shadow: 0 10px 40px rgba(230, 230, 230, 0.3);
      .nav-item {
        line-height: 100px;
        text-align: center;
        flex: 1;
      }
      .active {
        color: #00c168;
      }
    }
    .job-list {
      padding: 0 30px;
      .job-item {
        margin-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #f2f2f2;
        .job-title {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
          .job-name {
            font-size: 34px;
            color: #2b2b2b;
          }
          .job-salary {
            font-size: 32px;
            color: #ff796d;
          }
        }
        .base-info {
          font-size: 30px;
          color: #c4c3c9;
          display: flex;
          justify-content: space-between;
        }
      }
      .load-more {
        margin-top: 150px;
      }
      .btn {
        margin-top: 60px;
        width: 700px;
        background-color: #00c168;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 38px;
        color: #fff;
        border-radius: 10px;
      }
      .nothing {
        .icon-nothing {
          width: 224px;
          height: 218px;
          margin-bottom: 20px;
        }
        position: fixed;
        top: 35%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 32px;
        width: 100%;
        left: 0;
        color: #e0e0e0;
      }
    }
  }

  .fixed {
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
<template>
  <div class="jobManage">
    <div class="nav">
      <div :class="['nav-item',{'active':active.text === item.text}]" v-for="(item,index) in nav" :key="index" @click="changeNav(item)">{{item.text}}</div>
    </div>
    <div class="job-list">
      <div class="job-item" v-for="(item,index) in jobList" :key="index" @click="go(item.id)">
        <div class="job-title">
          <span class="job-name">{{item.name}}</span>
          <span class="job-salary">{{item.salary}}</span>
        </div>
        <div class="base-info">
          <span>{{item.address}} | {{item.undergo}} | {{item.educ}}</span>
          <span>{{item.updated_at}}</span>
        </div>
      </div>
      <div :class="['btn',{'fixed':jobList.length <= 4}]" v-if="active.code === 1" @click="postNew">发布新职位</div>
      <div :class="['btn',{'fixed':jobList.length <= 4}]" v-if="active.code === 2 && jobList.length > 0" @click="empty">清空已下线职位</div>
    </div>
    <!-- 空提示 -->
    <Nothing :tips="active.code === 1 ? '还没有在招职位,快去发布吧' : '暂无内容'" v-if="jobList.length === 0"></Nothing>
  </div>
</template>
<script>
  import utils from "@/utils/index.js";
  import Nothing from '@/components/Nothing'
  export default {
    components: {
      Nothing
    },
    data() {
      return {
        active: { text: "在招职位", code: 1 },
        nav: [{ text: "在招职位", code: 1 }, { text: "已下线", code: 2 }],
        jobList: [],
        loadMore: false,
        page: 1
      };
    },
    async onShow() {
      this.getData();
    },
    methods: {
      getData: async function () {
        const list = await utils.ajax(
          `/positionlist?status=${this.active.code}&page=${this.page}`,
          true
        );
        list.data.positionlist.data.forEach((item, index) => {
          list.data.positionlist.data[index].updated_at = item.updated_at.split(
            " "
          )[0];
        });
        list.data.positionlist.data.length === 0 ? --this.page : "";
        this.page > 1 ?
          (this.jobList = this.jobList.concat(list.data.positionlist.data)) :
          (this.jobList = list.data.positionlist.data);
      },
      changeNav: function (item) {
        this.active = item;
        this.getData();
      },
      postNew: function () {
        wx.navigateTo({
          url: "/pages/recruit/post-job"
        });
      },
      go: function (id) {
        wx.navigateTo({
          url: `/pages/job-seek/job-desc?id=${id}&isRec=1`
        });
      },
      empty: function () {
        const delList = [];
        this.jobList.forEach(item => {
          delList.push(item.id);
        });
        wx.showModal({
          title: "提示",
          content: "确认清空下线职位吗",
          showCancel: true,
          cancelText: "取消",
          cancelColor: "#000000",
          confirmText: "确定",
          confirmColor: "#3CC51F",
          success: async res => {
            if (res.confirm) {
              let res = utils.ajax(`/uptposition?status=0&detailsid=${delList}`);
              this.jobList = [];
            }
          }
        });
      }
    },
    onReachBottom() {
      ++this.page;
      this.getData();
    }
  };
</script>