<style scoped lang='scss'>
  .input-wrap {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 35px;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: bottom;
    .input-type {
      font-size: 32px;
      color: #151515;
      position: absolute;
      top: 0;
      left: 0;
      width: 130px;
      text-align-last: justify;
      text-align: justify;
      margin-top: 5px;
      &::after {
        content: '';
        width: 100%;
        display: inline-block;
      }
    }
    .input {
      padding-bottom: 25px;
      text-align: right;
      font-size: 30px;
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
      color: #666666;
    }
    .icon-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 16px;
      top: 20px;
    }
  }

  .root {
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .salary-wrap {
      flex: 1;
    }
    .exp-required {
      order: 1;
    }
    .save {
      border-radius: 10px;
      margin-top: 150px;
    }
  }
</style>
<template>
  <form @submit="submit" v-if="flag">
    <div class="root">
      <SingleLine :input="input"></SingleLine>
      <Pick v-for="(item,index) in picker" :key="index" :options="item"></Pick>
      <div class="salary-wrap">
        <salaryPicker @choose="selectSalary" :options="salary"></salaryPicker>
      </div>
      <!-- 福利待遇 -->
      <a class="welfare input-wrap" href="/pages/recruit/edit-job/edit-welfare" hover-class="navigator-hover">
        <input disabled class='input-type' value='福利待遇'>
        <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png?v=1.0' alt='' class='icon-arrow' />
        <input type='text' class='input' disabled='true' placeholder='请选择' v-model='welfareList.name' style="flex:none;" placeholder-style="color:#ccc;">
      </a>
      <!-- 职位描述 -->
      <a class="input-wrap" href="/pages/public/textarea?job=1" hover-class="navigator-hover">
        <input disabled class='input-type' value='职位描述'>
        <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png?v=1.0' alt='' class='icon-arrow' />
        <input type='text' class='input' disabled='true' placeholder='请填写' v-model='jobDesc' style="flex:none;" placeholder-style="color:#ccc;">
      </a>
      <!-- 详细地址 -->
      <a class="input-wrap" href="/pages/recruit/edit-job/edit-address" hover-class="navigator-hover" style="order:1">
        <input disabled class='input-type' value='工作地址'>
        <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png?v=1.0' alt='' class='icon-arrow' />
        <input type='text' class='input' disabled='true' placeholder='请填写' v-model='address.name' style="flex:none;" placeholder-style="color:#ccc;">
      </a>
      <button class="save" form-type="submit">{{editText}}</button>
    </div>
  </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import SingleLine from '@/components/Input'
  import Pick from '@/components/Picker'
  import salaryPicker from '@/components/salaryPicker'
  import { store } from '@/store/modules/post-job'
  import LinkCell from '@/components/LinkCell'
  export default {
    onLoad(options) {
      options.edit ? this.edit = true : '';
      this.flag = true;
      this.init();
    },
    onUnload() {
      this.flag = false;
    },
    data() {
      return {
        input: { title: '职位名称', name: 'name', placeholder: '请填写, 15个字以内', order: 0, type: 'text', val: '' },
        picker: [
          { title: '职位类别', range: [], name: 'type', val: '', mode: 'selector', order: 0 },
          { title: '学历要求', range: [], name: 'educ', val: '', mode: 'selector', order: 2 },
          { title: '工作经验', range: [], name: 'undergo_require', val: '', mode: 'selector', order: 2 },
        ],
        salary: { title: '月薪范围', val: [0, 0] },
        edit: null,
        editText: '发布',
        id: null,
        flag: false //  强制重新渲染页面的flag，等框架底层处理了数据重复问题再移除
      }
    },
    methods: {
      selectSalary: function (data) {
        this.salary.salary_s = data.salary_s;
        this.salary.salary_e = data.salary_e;
      },
      init: function () {
        const config = this.$store.state.config;
        [this.picker[0].range, this.picker[1].range, this.picker[2].range] = [config.position, config.educ, config.undergo_require];
        //  学历要求添加一个不限的选项
        if (this.picker[1].range[0].name !== '不限') {
          console.log(this.picker[1].range);
          this.picker[1].range.unshift({ name: '不限', code: '100000' });
        }
        //  职位修改的处理
        if (this.edit) {
          wx.setNavigationBarTitle({ title: '职位修改', });
          this.editText = '确认修改';
          const baseInfo = store.state.baseInfo.datalist;
          this.input.val = baseInfo.name;
          this.picker[0].val = {
            code: baseInfo.type,
            name: baseInfo.typename
          };
          this.picker[1].val = {
            code: baseInfo.educcode,
            name: baseInfo.educ
          };
          this.picker[2].val = {
            name: baseInfo.undergo,
            code: String(baseInfo.undergo_s) + ',' + String(baseInfo.undergo_e)
          };
          [this.salary.name, this.salary.salary_s, this.salary.salary_e] = [baseInfo.salary, baseInfo.salary_s, baseInfo.salary_e];

          this.id = baseInfo.id;
          store.commit('addWelfare', { name: baseInfo.welfarename, code: baseInfo.welfare });
          store.commit('address', { name: baseInfo.addressname, code: baseInfo.addresscode });
          store.commit('address', baseInfo.address_detailed);
        }
      },
      columnchange: function (e) {
        if (e.mp.detail.column === 0) {
          this.$set(this.expRequired, 1, this.expArr[e.mp.detail.value]);
        }
      },
      expChange: function (e) {
        let index = e.mp.detail.value;
        index[1] ? '' : index[1] = 0;
        this.exp.name = this.expRequired[0][index[0]].name + '~' + this.expRequired[1][index[1]].name;
        this.exp.data = {
          undergo_s: this.expRequired[0][index[0]].code,
          undergo_e: this.expRequired[1][index[1]].code
        }
      },
      submit: async function (form) {
        form = form.mp.detail.value;
        [form.salary_s, form.salary_e, form.undergo_s, form.undergo_e, form.synopsis, form.welfare] = [this.salary.salary_s, this.salary.salary_e, form.undergo_require.split(',')[0], form.undergo_require.split(',')[1], store.state.jobDesc, store.state.welfare];
        form.address = store.state.address.code;
        form.address_detailed = store.state.address_detailed;
        form.welfare = form.welfare ? form.welfare.code : '';
        this.id ? form.id = this.id : '';
        if (!utils.validate(form.name.length > 0, '请填写职位名称！')) { return false; }
        if (!utils.validate(form.type.length > 0, '请选择职位类型！')) { return false; }
        if (!utils.validate(form.salary_e > 0 && form.salary_s > 0, '请选择月薪范围！')) { return false; }
        if (!utils.validate(form.welfare.length > 0, '请选择福利待遇！')) { return false; }
        if (!utils.validate(form.synopsis.length > 0, '请填写职位描述！')) { return false; }
        if (!utils.validate(form.address && form.address_detailed, '请填写工作地址！')) { return false; }
        if (!utils.validate(form.educ.length > 0, '请选择学历要求！')) { return false; }
        if (!utils.validate(form.undergo_require.length > 0, '请选择工作经验！')) { return false; }
        const result = await utils.ajax('/position', form);
        let successText;
        this.edit ? successText = '修改成功！' : successText = '发布成功！';
        utils.saveSuccess(successText);
      }
    },
    computed: {
      welfareList() {
        if (store.state.welfare) {
          return store.state.welfare;
        } else {
          return {};
        }
      },
      jobDesc() {
        if (store.state.jobDesc.length > 0) {
          return store.state.jobDesc;
        }
      },
      address() {
        if (store.state.address) {
          return store.state.address;
        } else {
          return '';
        }
      }
    },
    components: {
      SingleLine,
      Pick,
      salaryPicker
    }
  }
</script>