<style scoped lang='scss'>
  .manage {
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 50;
    }
    .header {
      position: relative;
      background-color: white;
      .title {
        font-size: 34px;
        color: #2b2b2b;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        z-index: 51;
        position: relative;
        background-color: white;
        .icon-da {
          width: 17px;
          height: 9px;
          margin-left: 10px;
        }
      }
      .slide-down {
        padding: 40px 0 20px 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: white;
        z-index: 51;
        left: 0;
        transform: translateY(100%);
        text-align: center;
        .list-title {
          font-size: 30px;
          color: #8b8b8b;
          margin-bottom: 40px;
        }
        .list-wrap {
          padding: 0 30px 30px 30px;
          .list-item {
            font-size: 32px;
            border-bottom: 2px solid #fafafa;
            padding-bottom: 21px;
            text-align: right;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .name {
              width: 400px;
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            span:last-of-type {
              color: #ff4b3b;
            }
          }
        }
      }
    }
    .nav {
      padding: 0 50px 30px 50px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 10px 40px rgba(230, 230, 230, 0.3);
      .nv-item {
        font-size: 32px;
        color: #8b8b8b;
        flex: 1;
        &:nth-of-type(2) {
          text-align: center;
        }
        &:last-of-type {
          text-align: right;
        }
      }
      .active {
        color: #00c168;
      }
    }
    .resume-list {
      height: 100%;
      margin-top: 20px;
      position: relative;
      padding-bottom: 100px;
      .none {
        font-size: 32px;
        color: #626262;
        text-align: center;
        margin-top: 450px;
      }
    }
  }
</style>
<template>
 <div class="manage">
    <div class="mask" v-if="shwoDownList"></div>
    <header class="header">
        <div class="title" @click="slideDown">{{job.name ? job.name : '全部职位'}}<img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-fullDA.png" alt="" class="icon-da" slideDown></div> 
        <div class="slide-down" v-if="shwoDownList">
          <p class="list-title">-选择已发布的职位，查看人才推荐-</p>
          <div class="list-wrap">
            <div class="list-item" @click="filter()">全部职位</div>
            <div class="list-item" v-for="(item,index) in postList" :key="index" @click="filter(item)">
              <span class="name">{{item.name}}</span>
              <span>{{item.salary}}</span>
            </div>
          </div>
        </div>
    </header>
    <div class="nav">
        <div :class="['nv-item',{'active':activeNav === index + 1}]" v-for="(item,index) in nav" :key="index" @click="navChange(index)">{{item}}</div>
    </div>
    <div class="resume-list">
        <ResumeList :resumeList="resumeList"></ResumeList>
        <LoadMore :loading="loading" v-if="resumeList.length > 0"></LoadMore>
        <Nothing v-if="resumeList.length === 0" tips="暂时还没有简历"></Nothing>
    </div>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import ResumeList from '@/components/ResumeList'
  import LoadMore from '@/components/LoadMore'
  import Nothing from '@/components/Nothing'
  export default {
    async onShow() {
      Object.assign(this.$data, this.$options.data());
      this.getData();
    },
    components: {
      ResumeList,
      LoadMore,
      Nothing
    },
    data() {
      return {
        nav: ['新简历', '面试', '淘汰'],
        activeNav: 1,
        resumeList: [],
        shwoDownList: false,
        page: 1,
        postList: [],
        job: {},
        loading: true
      }
    },
    methods: {
      navChange: function (index) {
        this.page = 1;
        this.activeNav = (1 + index);
        this.getData();
      },
      slideDown: async function () {
        this.shwoDownList = !this.shwoDownList;
      },
      filter: async function (item) {
        let url;
        this.page = 1;
        url = `/mailinglist?type=${this.activeNav}`
        if (item) {
          url += `&positionid=${item.id}`;
          this.job = item;
        }
        let res = await utils.ajax(url);
        this.resumeList = res.data.mailing.data;
        this.shwoDownList = false;
      },
      getData: async function () {
        let url = `/mailinglist?page=${this.page}&type=${this.activeNav}`;
        this.job.id ? url += `&positionid=${this.job.id}` : '';
        let res = await utils.ajax(url, true);
        res.data.mailing.data.length === 0 ? --this.page : '';
        this.page > 1 ? this.resumeList = this.resumeList.concat(res.data.mailing.data) : this.resumeList = res.data.mailing.data;
        if (this.postList.length === 0) {
          let positionlist = await utils.ajax('/positionlist?status=1');
          this.postList = positionlist.data.positionlist.data;
        }
        this.LoadMore = false;
      }
    },
    onReachBottom() {
      this.page++;
      this.LoadMore = true;
      this.getData();
    }
  }
</script>