<style scoped lang='scss'>
  .status {
    .header {
      padding: 38px 30px;
      box-sizing: border-box;
      border-bottom: 15px solid #f7f8fa;
      display: flex;
      align-items: center;
      position: relative;
      .user-avatar {
        height: 105px;
        width: 105px;
        border-radius: 50%;
        background-color: #f36c4d;
        margin-right: 40px;
      }
      .user-info {
        .name {
          font-size: 34px;
          color: #2b2b2b;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .age {
          font-size: 28px;
          color: #2b2b2b;
          margin-bottom: 15px;
          span {
            margin-right: 30px;
          }
        }
        .desc {
          font-size: 28px;
          color: #a3a3a3;
        }
      }
      .icon-arrow {
        width: 14px;
        height: 26px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
      }
    }
    .status-wrap {
      padding: 30px;
      box-sizing: border-box;
      .status-item {
        display: flex;
        margin-bottom: 120px;
        position: relative;
        img {
          margin-right: 30px;
          margin-top: 10px;
        }
        .icon {
          width: 60px;
          height: 60px;
          position: relative;
          overflow: visible;
        }
        .status-info {
          .info {
            font-size: 32px;
            color: #626262;
            margin-bottom: 35px;
          }
          .timestamp {
            font-size: 28px;
            color: #4d4d4d;
          }
          .interview-title {
            font-size: 28px;
            font-weight: bold;
            color: #2b2b2b;
            margin: 24px 0;
          }
          .interview-text {
            padding: 34px 22px 45px 22px;
            box-sizing: border-box;
            background-color: #f7f8fa;
            font-size: 28px;
            p {
              font-size: #2b2b2b;
              margin-bottom: 38px;
              display: flex;
              span:last-of-type {
                margin-left: 25px;
              }
              .green {
                width: 400px;
                color: #00c168;
              }
              .title {
                width: 125px;
                text-align: justify;
                text-align-last: justify;
                position: relative;
                &::after {
                  content: ":";
                  position: absolute;
                  right: -10px;
                  top: 0;
                }
              }
            }
          }
          .out-text {
            width: 592px;
            height: 194px;
            background-color: #f7f8fa;
            font-size: 30px;
            color: #626262;
            padding: 39px 40px;
            box-sizing: border-box;
            margin-top: 24px;
          }
        }
      }
      .receive-success::before {
        left: 29px;
        top: -127px;
        position: absolute;
        content: "\00A0";
        width: 1px;
        height: 109px;
        background-color: #e0e0e0;
      }
      .icon-out::after {
        content: "\00A0";
        height: 350px;
        top: 78px;
        background-color: #e0e0e0;
        width: 1px;
        position: absolute;
        left: 29px;
        transform: translateX(-50%);
      }
      .out-wrap::after {
        content: "\00A0";
        position: absolute;
        left: 29px;
        top: 94px;
        width: 1px;
        height: 100%;
        background-color: #e0e0e0;
      }
    }
  }
</style>
<template>
  <div class="status">
    <header class="header">
      <img alt="" :src="userInfo.user_images_src" class="user-avatar">
      <div class="user-info">
        <p class="name">{{userInfo.username}}</p>
        <p class="age">
          <span>{{userInfo.birthday}}</span>
          <span>{{userInfo.experience}}</span>
          <span>{{userInfo.educ}}</span>
          <span>{{userInfo.salary}}</span>
        </p>
        <p class="desc">{{userInfo.describe}}</p>
      </div>
      <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png" alt="" class="icon-arrow">
    </header>
    <div class="status-wrap">
      <!-- 邀请面试 -->
      <div class="status-item out-wrap" v-if="data.status === 3">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-interview.png" alt="" class="icon icon-interview">
        <div class="status-info">
          <p class="info">邀请面试</p>
          <p class="timestamp">{{updated_at}}</p>
          <p class="interview-title">面试安排</p>
          <div class="interview-text">
            <p>
              <span class="title">面试岗位</span>
              <span class="green">{{data.interview.position}}</span>
            </p>
            <p>
              <span class="title">面试时间</span>
              <span>{{data.interview.data}} {{data.interview.time}}</span>
            </p>
            <p>
              <span class="title">面试地点</span>
              <span class="green">{{data.interview.address}}</span>
            </p>
            <p>
              <span class="title">联系人</span>
              <span>{{data.interview.name}}</span>
            </p>
            <p>
              <span class="title">电话</span>
              <span class="green" @click="call(data.interview.phone)">{{data.interview.phone}}</span>
            </p>
          </div>
        </div>
      </div>
      <!-- 淘汰 -->
      <div class="status-item out-wrap" v-if="data.status === 4">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-out.png" alt="" class="icon icon-out">
        <div class="status-info">
          <p class="info">淘汰</p>
          <p class="timestamp">{{updated_at}}</p>
          <p class="out-text">经过评估，该求职者与职位要求不太匹配，已淘汰</p>
        </div>
      </div>
      <!-- 查看对方简历 -->
      <div class="status-item">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-look_nor.png" alt="" class="icon">
        <div class="status-info">
          <p class="info">查看对方简历</p>
          <p class="timestamp">{{check_at}}</p>
        </div>
      </div>
      <!-- 成功接收 -->
      <div class="status-item receive-success">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-right_nor.png" alt="" class="icon">
        <div class="status-info">
          <p class="info">成功接收对方简历</p>
          <p class="timestamp">{{created_at}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import utils from '@/utils/index.js'
  export default {
    mounted() {
      this.id = this.$root.$mp.query.mailingid;
      this.getData();
    },
    data() {
      return {
        data: {},
        id: ''
      }
    },
    methods: {
      getData: async function () {
        const res = await utils.ajax(`/mailingdetails?detailsid=${this.id}`);
        this.data = res.data;
      },
      call: function (phone) {
        wx.makePhoneCall({
          phoneNumber: phone
        });
      }
    },
    computed: {
      created_at() {
        if (this.data.created_at) {
          return this.data.created_at.split(' ')[0];
        }
      },
      updated_at() {
        if (this.data.updated_at) {
          return this.data.updated_at.split(' ')[0];
        }
      },
      check_at() {
        if (this.data.check_at) {
          return this.data.check_at.split(' ')[0];
        }
      },
      userInfo() {
        if (this.data.users) {
          return this.data.users;
        } else { return {}; }
      }
    }
  }
</script>