<style scoped lang='scss'>
  .collect-list {
    box-sizing: border-box;
    padding: 0 20px;
    .empty {
      width: 500px;
      border-radius: 100px;
      border: 1px solid #e7e6e6;
      height: 70px;
      line-height: 70px;
      text-align: center;
      font-size: 32px;
      color: #00c168;
      margin: 200px auto;
    }
    .fixed {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100px;
      margin: 0;
    }
  }
</style>
<template>
 <div class="collect-list">
    <ResumeList :resumeList="resumeList" v-if="resumeList.length > 0"></ResumeList>
    <Nothing v-if="resumeList.length === 0" tips="简历收藏夹为空"></Nothing>
    <div :class="['empty',{'fixed':resumeList.length < 4}]" @click="empty" v-if="resumeList.length > 0">清空</div>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import ResumeList from '@/components/ResumeList'
  import Nothing from '@/components/Nothing'
  export default {
    components: {
      ResumeList,
      Nothing
    },
    data() {
      return {
        resumeList: [],
        page: 1
      }
    },
    onShow() {
      this.getData();
    },
    methods: {
      getData: async function () {
        const list = await utils.ajax(`/collectresumes?page=${this.page}`);
        this.page > 1 ? this.resumeList = this.resumeList.concat(list.data.collect.data) : this.resumeList = list.data.collect.data;
      },
      empty: function () {
        wx.showModal({
          title: '提示',
          content: '确定清空收藏的简历吗？',
          showCancel: true,
          cancelText: '取消',
          cancelColor: '#c4c3c9',
          confirmText: '确定',
          confirmColor: '#00c168',
          success: async res => {
            if (res.confirm) {
              let res = await utils.ajax('/delresumes');
              utils.toast('清空成功!');
              this.resumeList = [];
            }
          }
        });
      }
    },
    onReachBottom() {
      this.page++;
      this.getData();
    }
  }
</script>