<style scoped lang='scss'>
  .root {
    .upload-avatar {
      height: 320px;
      box-sizing: border-box;
      padding-top: 40px;
      text-align: center;
      border-bottom: 18px solid #f7f8fa;
      .icon-school {
        height: 138px;
        width: 138px;
        border-radius: 50%;
        margin-bottom: 39px;
      }
      .upload {
        font-size: 26px;
        color: #a3a3a3;
      }
    }
    .required {
      box-sizing: border-box;
      padding: 43px 24px;
      border-bottom: 18px solid #f7f8fa;
      .titlle {
        font-size: 30px;
        color: #151515;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        .title-text {
          position: relative;
          &::after {
            position: absolute;
            top: 50%;
            right: -80px;
            transform: translateY(-50%);
            content: "必填";
            color: #ff796d;
            font-size: 20px;
            padding: 3px 10px;
            border: 3px solid #ff796d;
            border-radius: 20px;
            margin-left: 25px;
          }
        }
        .edit {
          color: #00c168;
          font-size: 26px;
          display: flex;
          align-items: center;
          .icon-edit {
            width: 27px;
            height: 27px;
            margin-right: 14px;
          }
        }
      }
    }
    .base-info {
      p {
        font-size: 30px;
        color: #2b2b2b;
        margin-bottom: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .school-desc {
      .school-synopsis {
        font-size: 30px;
        color: #a3a3a3;
        line-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
      }
    }
    .school-photo {
      .scroll-wrap {
        white-space: nowrap;
        .scroll-item {
          width: 377px;
          height: 215px;
          border-radius: 10px;
          margin-right: 17px;
          background-size: cover;
          display: inline-block;
        }
      }
    }
    .principal-desc {
      min-height: 400px;
      border-bottom: 0;
      .principal {
        .principal-name {
          float: left;
          margin-right: 57px;
          margin-bottom: 20px;
          text-align: center;
          .principal-avatar {
            width: 107px;
            height: 107px;
            border-radius: 50%;
            margin-bottom: 16px;
          }
          p {
            font-size: 28px;
            color: #000000;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .principal-text {
          word-break: break-all;
          font-size: 30px;
          color: #2b2b2b;
          width: 100%;
        }
      }
    }
    .empty {
      height: 177px;
      text-align: center;
      font-size: 32px;
      color: #00c168;
      border-bottom: 18px solid #f7f8fa;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-add {
        width: 37px;
        height: 37px;
        margin-right: 25px;
      }
      &:last-of-type {
        border: none;
      }
    }
  }

  .clearfix {
    clear: both;
  }
</style>
<template>
  <div class="root">
    <header class="upload-avatar" @click="upload(4)">
      <img :src="schoolAvatar" alt="" class="icon-school">
      <p class="upload">点击上传</p>
    </header>
    <!-- 基本信息 -->
    <div class="required base-info" v-if="mySchool.address || mySchool.address_detailed || mySchool.scale || mySchool.name" @click="edit(0)">
      <div class="titlle">
        <span class="title-text">基本信息</span>
        <span class="edit"><img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-edit_green.png" alt="" class="icon-edit">编辑</span>
      </div>
      <p>园所名称：{{mySchool.name}}</p>
      <p>园所规模：{{mySchool.scale}}</p>
      <p>园所地址：{{mySchool.address}}</p>
    </div>
    <!-- 园所简介 -->
    <div class="required school-desc" v-if="mySchool.synopsis" @click="edit(1)">
      <div class="titlle">
        <span class="title-text">园所简介</span>
        <span class="edit"><img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-edit_green.png" alt="" class="icon-edit">编辑</span>
      </div>
      <p class="school-synopsis">{{mySchool.synopsis}}</p>
    </div>
    <!-- 园所风采 -->
    <div class="required school-photo" v-if="mySchool.banners_src && mySchool.banners_src.length > 0" @click="edit(2)">
      <div class="titlle">
        <span class="title-text">园所风采</span>
        <span class="edit"><img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-edit_green.png" alt="" class="icon-edit">编辑</span>
      </div>
      <scroll-view class="scroll-wrap" scroll-x="true">
        <img :src="item" alt="" class="scroll-item" v-for="(item,index) in mySchool.banners_src" :key="index" mode="aspectFill" @click.stop="preview(index)">
        <!-- <div class="scroll-item" v-for="(item,index) in mySchool.banners" :key="index" :style="{backgroundImage:'url('+ URL + item + ')'}" @click="preview(index)"></div> -->
      </scroll-view>
    </div>
    <!-- 园长简介 -->
    <div class="required principal-desc" v-if="mySchool.boss_image && (mySchool.boss_name ||  mySchool.boss_synopsis)">
      <div class="titlle">
        <span class="title-text">校长简介</span>
        <span class="edit" @tap="edit(3)"><img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-edit_green.png" alt="" class="icon-edit">编辑</span>
      </div>
      <div class="principal">
        <div class="principal-name">
          <img alt="" class="principal-avatar" :src="mySchool.boss_image_src">
          <p>{{mySchool.boss_name}}</p>
        </div>
        <p class="principal-text">{{mySchool.boss_synopsis}}</p>
      </div>
    </div>
    <!-- 信息为空时显示 -->
    <div class="empty" v-for="(item,index) in 4" :key="index" @tap="edit(index)" v-if="(index === 0 && !mySchool.address && !mySchool.address_detailed && !mySchool.scale && !mySchool.name) || (index === 1 && !mySchool.synopsis) || (index === 2 && !mySchool.banners_key) || (index === 3 && (!mySchool.boss_name || !mySchool.boss_image || !mySchool.boss_synopsis))">
      <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/ic_add.png" alt="" class="icon-add">
      <span>添加{{item === 0 ? '基本信息' : ''}}{{item === 1 ? '园所简介' : ''}}{{item === 2 ? '园所风采' : ''}}{{item === 3 ? '园长简介' : ''}}</span>
    </div>
  </div>
</template>
<script>
  import utils from '@/utils/index.js'
  import { store } from '@/store/modules/school-desc'
  export default {
    async onShow() {
      const res = await utils.ajax('/myschool');
      res.data.school.banners.forEach((item, index) => {
        res.data.school.banners[index] = this.item;
      });
      this.mySchool = res.data.school;
      store.commit('setMySchool', res.data.school);
      this.$store.commit('setMySchool', res.data.school);
    },
    data() {
      return {
        mySchool: {}
      }
    },
    methods: {
      upload: function (type) {
        wx.navigateTo({
          url: `/pages/public/cropper?uploadType=${type}`
        });
      },
      edit: function (type) {
        let url;
        switch (Number(type)) {
          case 0:
            url = '/pages/recruit/edit-school/edit-baseInfo';
            break;
          case 1:
            url = '/pages/recruit/edit-school/edit-desc';
            break;
          case 2:
            url = '/pages/recruit/edit-school/edit-pic';
            break;
          case 3:
            url = '/pages/recruit/edit-school/edit-boss';
            break;
        }
        wx.navigateTo({ url: url });
      },
      preview: function (index) {
        wx.previewImage({
          current: this.mySchool.banners_src[index],
          urls: this.mySchool.banners_src
        })
      }
    },
    computed: {
      schoolAvatar() {
        if (store.state.mySchool.logo_src) {
          return store.state.mySchool.logo_src;
        } else {
          return 'http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-school.png?v=1.0';
        }
      },
      principalAvatar() {
        if (store.state.principalAvatar) {
          return store.state.principalAvatar.key;
        }
      }
    }
  }
</script>