<style scoped lang='scss'>
  .editBoss {
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 35px;
    .upload-avatar {
      padding-bottom: 25px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e9e9e9;
      .boss-avatar {
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
      .upload-hint {
        font-size: 30px;
        color: #151515;
      }
    }
    .form {
      .textarea-wrap {
        width: 100%;
        .title {
          font-size: 32px;
          color: #151515;
          margin-bottom: 40px;
          margin-top: 35px;
        }
        .textarea {
          width: 100%;
          height: 200px;
          background-color: #f7f8fa;
          font-size: 30px;
          padding: 37px 24px 0 24px;
          box-sizing: border-box;
        }
        .word-hint {
          height: 70px;
          line-height: 70px;
          text-align: right;
          padding: 0 24px;
          box-sizing: border-box;
          font-size: 30px;
          color: #2b2b2b;
          background-color: #f7f8fa;
        }
      }
      .save {
        margin-top: 100px;
      }
    }
  }
</style>
<template>
  <div class="editBoss">
    <header class="upload-avatar" @click="upload(2)">
      <p class="upload-hint">上传头像</p>
      <img :src="avatar" alt="" class="boss-avatar">
    </header>
    <form class="form" @submit="submit">
      <SingleLine :input="input"></SingleLine>
      <div class="textarea-wrap">
        <p class="title">个人简介</p>
        <textarea name="boss_synopsis" v-model="bossSynopsis" id="" maxlength="500" class="textarea" placeholder="展示管理者的教育经历、工作履历、事业成就或者管理理念等信息,管理者的魅力往往是求职者选择工作的关键"></textarea>
        <p class="word-hint">{{bossSynopsis ? bossSynopsis.length : 0}}/500</p>
      </div>
      <button class="save" form-type="submit">保存</button>
    </form>
  </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import SingleLine from '@/components/Input'
  import { store } from '@/store/modules/school-desc'
  export default {
    mounted() {},
    components: {
      SingleLine
    },
    data() {
      return {
        input: { title: '姓名', placeholder: '请填写, 15个字以内', name: 'boss_name', type: 'text', val: '', max: 10 },
        bossSynopsis: ''
      }
    },
    computed: {
      avatar() {
        if (store.state.principalAvatar) {
          return store.state.principalAvatar.key;
        } else if (store.state.mySchool.boss_image) {
          return store.state.mySchool.boss_image_src;
        } else {
          return 'http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-defaultAvatar.png?v=1.0';
        }
      },
      bossInfo() {
        if (store.state.mySchool) {
          this.input.val = store.state.mySchool.boss_name;
          this.bossSynopsis = store.state.mySchool.boss_synopsis;
          return store.state.mySchool;
        }
      }
    },
    methods: {
      submit: async function (e) {
        let form = e.mp.detail.value;
        for (let key in form) {
          if (form[key].length === 0) { utils.toast('还没有填完！'); return false; }
        }
        form.type = 'boss';
        let res = await utils.ajax('/school', form);
        utils.saveSuccess();
      },
      upload: function (type) {
        wx.navigateTo({
          url: `/pages/public/cropper?uploadType=${type}`
        });
      }
    }
  }
</script>