<style scoped lang='scss'>
  .form {
    padding: 72px 30px 0 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    .textarea {
      box-sizing: border-box;
      width: 100%;
      height: 510px;
      padding: 45px 25px 0 25px;
      background-color: #f7f8fa;
      font-size: 30px;
      line-height: 60px;
      color: #4d4d4d;
    }
    .word-hint {
      background-color: #f7f8fa;
      color: #c4c3c9;
      font-size: 30px;
      padding: 25px 25px;
      text-align: right;
    }
    .save {
      margin-top: 300px;
    }
  }
</style>
<template>
 <form class="form" @submit="submit">
    <textarea class="textarea" maxlength="500" placeholder="请填写园所简介" v-model="desc" name="synopsis"></textarea>
    <p class="word-hint">{{desc ? desc.length : 0}}/2500</p>
    <button class="save" form-type="submit">保存</button>
 </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import { store } from '@/store/modules/school-desc'
  export default {
    data() {
      return {
        desc: ''
      }
    },
    methods: {
      submit: async function (e) {
        let form = e.mp.detail.value;
        if (this.desc.length === 0) { utils.toast('请填写园所简介'); return false; }
        form.type = 'synopsis';
        const res = await utils.ajax('/school', form);
        utils.toast('保存成功！');
        setTimeout(() => {
          wx.navigateBack({ delta: 1 });
        }, 1000);
      }
    },
    computed: {
      getDesc() {
        if (store.state.mySchool) {
          this.desc = store.state.mySchool.synopsis;
        }
      }
    }
  }
</script>