<style scoped lang='scss'>
  .root {
    .input-wrap {
      padding: 0 30px;
      box-sizing: border-box;
    }
    .textarea {
      width: 100%;
      box-sizing: border-box;
      height: 342px;
      background-color: #f7f8fa;
      padding: 50px 30px 0 30px;
      font-size: 30px;
      margin-top: -1px;
    }
    .save {
      margin-top: 100px;
    }
  }
</style>
<template>
 <div class="root">
   <form @submit="submit" class="">
     <div class="input-wrap">
      <SingleLine :input="input"></SingleLine>
      <Pick :options="pick"></Pick>
      <LinkCell :options="address"></LinkCell>
     </div>
     <textarea class="textarea" placeholder="请填写详细地址：街道、楼宇、门牌号..." name="address_detailed" v-model="address_detailed"></textarea>
     <button class="save" form-type="submit">保存</button>
    </form>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import Pick from '@/components/Picker'
  import SingleLine from '@/components/Input'
  import { store } from '@/store/modules/school-desc'
  import LinkCell from '@/components/LinkCell'
  export default {
    components: {
      Pick,
      SingleLine,
      LinkCell
    },
    data() {
      return {
        pick: { title: '园所规模', placeholder: '请填写, 15个字以内', name: 'scale', mode: 'selector', val: '', range: '' },
        input: { title: '园所名称', placeholder: '请填写, 15个字以内', name: 'name', type: 'text', val: '' },
        address_detailed: '',
        address: { text: '工作地址', url: '/pages/public/region?type=1', val: '', placeholder: '请选择所在区域' }
      }
    },
    onLoad() {
      const config = this.$store.state.config;
      this.pick.range = config.scale;
    },
    methods: {
      submit: async function (e) {
        const form = e.mp.detail.value;
        form.address = this.address_watch.code;
        for (let key in form) {
          if (!form[key]) { utils.toast('还没填完哦！'); return false; }
        }
        form.type = 'info';
        const res = await utils.ajax('/school', form);
        utils.toast('保存成功！');
        setTimeout(() => {
          wx.navigateBack({ delta: 1 });
        }, 1000);
      }
    },
    computed: {
      baseInfo() {
        if (store.state.mySchool.name && store.state.mySchool.scale && store.state.mySchool.address_detailed) {
          this.input.val = store.state.mySchool.name;
          this.pick.val = {
            name: store.state.mySchool.scale,
            code: store.state.mySchool.scale_code
          }
          this.address_detailed = store.state.mySchool.address_detailed;
        }
      },
      address_watch() {
        if (store.state.setAddress_temporary) {
          this.address.val = store.state.setAddress_temporary.name;
          return store.state.setAddress_temporary;
        } else {
          this.address.val = store.state.mySchool.address;
          return { name: store.state.mySchool.address, code: store.state.mySchool.address_code };
        }
      }
    }
  }
</script>