<style scoped lang='scss'>
  .pic-wrap {
    box-sizing: border-box;
    padding: 50px 0px 0 25px;
    display: flex;
    flex-wrap: wrap;
    .img-wrap {
      width: 220px;
      height: 220px;
      position: relative;
      margin-right: 20px;
      margin-bottom: 20px;
      .school-pic {
        width: 100%;
        height: 100%;
      }
      .icon-del {
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        right: 10px;
        top: 10px;
      }
    }
    .icon-add {
      width: 220px;
      height: 220px;
    }
    .tips {
      text-align: center;
      font-size: 32px;
      color: #9c9c9c;
    }
  }

  .save {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 100px;
  }
</style>
<template>
 <div class="pic-wrap">
     <div class="img-wrap" v-for="(item,index) in viewArr" :key="index">
         <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-del2.png" alt="" class="icon-del" @click="del(index)">
         <img :src="item" alt="" class="school-pic">
     </div>
     <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/ic-upload.png" alt="" class="icon-add" @click="upload" v-if="viewArr.length < 9">
     <p class="tips" v-if="viewArr.length === 0">添加园所环境、员工风采照片，更生动地展示园所全貌，可大幅提高职位吸引力！</p>
     <div class="save" @click="save">保存</div>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import { store } from '@/store/modules/school-desc'
  export default {
    data() {
      return {
        picArr: [],
        viewArr: []
      }
    },
    methods: {
      upload: async function () {
        const picList = await utils.chooseImg(9 - this.viewArr.length);
        this.viewArr = this.viewArr.concat(picList.tempFilePaths);
        wx.hideLoading();
      },
      del: function (index) {
        this.viewArr.splice(index, 1);
      },
      save: async function () {
        let arr = [];
        for (let item of this.viewArr) {
          let pic;
          let imgPrefix = 'http://pbh6eyvmr.bkt.clouddn.com';
          if (item.indexOf(imgPrefix) >= 0) {
            this.picArr.push(item.split(imgPrefix)[1]);
          } else {
            pic = await utils.uploadImg(3, item);
            this.picArr.push(pic.key);
          }
        }
        const res = await utils.ajax(`/uptimages?style=3&images=${this.picArr}`);
        if (res.status > 0) {
          utils.toast('保存成功！');
          wx.navigateBack({ delta: 1 });
        }
      }
    },
    computed: {
      mySchool() {
        if (store.state.mySchool) {
          this.viewArr = store.state.mySchool.banners_src;
        }
      }
    }
  }
</script>