<style>
  page {
    height: 100%;
    background-color: #f7f8fa;
  }
</style>
<style scoped lang='scss'>
  .welfare-wrap {
    padding: 45px 11px 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    .welfare {
      padding: 20px 34px;
      color: #2b2b2b;
      font-size: 28px;
      color: #2b2b2b;
      border-radius: 100px;
      margin: 0 20px 19px 0;
      background-color: white;
    }
    .active {
      background-color: #00c168;
      color: #fff;
    }
    .save {
      position: fixed;
      bottom: 100px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
<template>
 <div class="welfare-wrap">
    <div :class="['welfare',{active:item.active}]" v-for='(item,index) in welfareList' :key='index' @click='selected(index,item)'>{{item.name}}</div>
    <button class="save" @click="save">保存</button>
 </div>
</template>
<script>
  import utils from '@/utils/index.js'
  import { store } from '@/store/modules/post-job'
  export default {
    mounted() {
      this.welfareList = this.$store.state.config.welfare;
      this.welfareList.forEach((item, index) => {
        if (store.state.welfare) {
          store.state.welfare.code.indexOf(item.code) >= 0 ? item.active = true : item.active = false;
        } else {
          item.active = false;
        }
      });
    },
    data() {
      return {
        welfareList: []
      }
    },
    methods: {
      selected: function (index, item) {
        item.active = !item.active;
        this.$set(this.welfareList, index, item);
      },
      save: function () {
        const param = [],
          param2 = [];
        this.welfareList.forEach(item => {
          if (item.active) {
            param.push(item.code);
            param2.push(item.name);
          }
        });
        store.commit('addWelfare', { code: param, name: param2 });
        utils.toast('保存成功');
        setTimeout(() => {
          wx.navigateBack({ delta: 1 });
        }, 1000);
      }
    }
  }
</script>