<style>
  page {
    background-color: #f7f8fa;
    height: 100%;
  }
</style>

<style scoped lang='scss'>
  .root {
    .picker-wrap {
      padding: 25px 25px 0 25px;
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      background-color: white;
    }
    .address_detailed {
      height: 352px;
      width: 750px;
      padding: 54px 30px 0 30px;
      box-sizing: border-box;
      background-color: white;
      font-size: 30px;
    }
    .save {
      margin-top: 150px;
    }
  }
</style>
<template>
 <div class="root">
     <form @submit="submit">
         <div class="picker-wrap">
            <LinkCell :options="address"></LinkCell>
         </div>
        <textarea name="address_detailed" v-model="address_detailed" class="address_detailed" maxlength="200" placeholder="请填写详细地址：街道、楼宇、门牌号..."></textarea>
        <button class="save" form-type="submit">保存</button>
     </form>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import { store } from '@/store/modules/post-job'
  import LinkCell from '@/components/LinkCell'
  export default {
    components: {
      LinkCell
    },
    onLoad() {
      const config = this.$store.state.config;
      if (store.state.address) {
        store.commit('setAddress_temporary', store.state.address);
      }
    },
    data() {
      return {
        address_detailed: '',
        address: { text: '工作地址', url: '/pages/public/region?type=0', val: '' }
      }
    },
    methods: {
      submit: function (form) {
        if (this.address.val === '' || this.address_detailed === '') {
          utils.toast('还没有填完');
          return;
        }
        store.commit('address', store.state.address_temporary);
        store.commit('address', this.address_detailed);
        utils.saveSuccess();
      }
    },
    computed: {
      addressInfo() {
        store.state.address && store.state.address_temporary ? this.address.val = store.state.address_temporary.name : this.address.val = store.state.address.name;
        store.state.address_detailed ? this.address_detailed = store.state.address_detailed : '';
      }
    },
    onUnload() {
      store.commit('setAddress_temporary', null);
    }
  }
</script>