<style scoped lang='scss'>
  .root {
    height: 100%;
    .filter {
      padding: 0 30px;
      height: 100%;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      background-color: white;
      position: relative;
      z-index: 11;
      .filter-options {
        flex: 1;
        font-size: 30px;
        color: #2b2b2b;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-fullDown {
          width: 17px;
          height: 9px;
          margin-left: 10px;
          background-image: url("http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-fullDA.png");
          background-size: 100% 100%;
        }
        .icon-active {
          background-image: url("http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-activeFDA.png");
        }
      }
      .active {
        color: #00c168 !important;
      }
      .options-details {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 750px;
        transform: translateY(100%);
        background-color: white;
        overflow: scroll;
        padding-top: 40px;
        transition: all 0.5s linear;
        .item-wrap {
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 50px;
          padding-left: 30px;
          box-sizing: border-box;
          .details-item {
            padding: 15px 29px;
            border: 1px solid #eaeaea;
            color: #353535;
            font-size: 30px;
            margin-right: 30px;
            margin-bottom: 40px;
          }
          .active-item {
            background-color: #00c168;
            color: white;
          }
        }
        .btn-wrap {
          display: flex;
          padding: 17px 22px;
          .reset,
          .confirm {
            text-align: center;
            height: 90px;
            text-align: center;
            line-height: 90px;
            width: 326px;
            font-size: 32px;
            border-radius: 10px;
          }
          .reset {
            color: #00c168;
            background-color: white;
            border: 2px solid #efefef;
            box-sizing: border-box;
            margin-right: 54px;
          }
          .confirm {
            background-color: #00c168;
            color: white;
          }
        }
      }
    }
    .mask {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
</style>
<template>
  <div class="root">
    <div class="filter">
      <div :class="[activeOptions === key ? 'active' : '', 'filter-options']" v-for='(item,key) in filterConfig' :key='key' @click="selectOptons(key)">{{key}}
        <div :class="[activeOptions === key ? 'icon-active' : '','icon-fullDown']"></div>
      </div>
      <div class="options-details slideInDown" v-if="activeOptions.length > 0">
        <div class="item-wrap">
          <div v-for="(item,index) in optionsDetails" :key="index" :class="{'active-item':filterResult[activeOptions] && filterResult[activeOptions].name === item.name,'details-item':true}" @click="addFilter(item,index)">{{item.name}}</div>
        </div>
        <div class="btn-wrap">
          <div class="reset" @click="reset">重置</div>
          <div class="confirm" @click="activeOptions = '';$emit('confirm',filterResult)">确定</div>
        </div>
      </div>
    </div>
    <div class="mask" v-if="activeOptions.length > 0" :style="{width:width+'px',height:height+'px'}"></div>
  </div>
</template>

<script>
  import utils from '@/utils/index'
  export default {
    props: ['config'],
    data() {
      return {
        filterConfig: {}, //  模拟数据
        activeOptions: '',
        filterResult: {
          '工作地点': [],
          '学历要求': [],
          '经验要求': [],
          '薪资范围': []
        },
        width: 0,
        height: 0
      }
    },
    onLoad() {
      this.height = wx.getSystemInfoSync().windowHeight;
      this.width = wx.getSystemInfoSync().windowWidth;
    },
    computed: {
      optionsDetails: function () {
        if (this.activeOptions.length === 0) {
          return [];
        } else {
          return this.filterConfig[this.activeOptions];
        }
      },
      isActive: function () {
        return true;
      }
    },
    methods: {
      selectOptons: function (item) {
        if (this.activeOptions.length === 0 || this.activeOptions !== item) {
          this.activeOptions = item;
        } else {
          this.activeOptions = '';
        }
      },
      addFilter: function (item, index) {
        this.filterResult[this.activeOptions] = item;
      },
      reset: function () {
        if (this.activeOptions === '工作地点') {
          this.filterResult[this.activeOptions] = this.config.area[0];
        } else if (this.activeOptions === '学历要求') {
          this.filterResult[this.activeOptions] = this.config.educ[0];
        } else if (this.activeOptions === '经验要求') {
          this.filterResult[this.activeOptions] = this.config.undergo[0];
        } else if (this.activeOptions === '薪资范围') {
          this.filterResult[this.activeOptions] = this.config.salary[0];
        }
      }
    },
    mounted() {
      let identity;
      this.$store.state.userInfo.identity ? identity = this.$store.state.userInfo.identity : identity = 1;
      if (identity === 1) {
        [this.filterConfig['工作地点'], this.filterConfig['学历要求'], this.filterConfig['经验要求'], this.filterConfig['薪资范围']] = [this.config.area, this.config.educ, this.config.undergo, this.config.salary];
        [this.filterResult['工作地点'], this.filterResult['学历要求'], this.filterResult['经验要求'], this.filterResult['薪资范围']] = [this.config.area[0], this.config.educ[0], this.config.undergo[0], this.config.salary[0]];
      } else {
        [this.filterConfig['学历要求'], this.filterConfig['经验要求'], this.filterConfig['薪资范围']] = [this.config.educ, this.config.undergo, this.config.salary];
        [this.filterResult['学历要求'], this.filterResult['经验要求'], this.filterResult['薪资范围']] = [this.config.educ[0], this.config.undergo[0], this.config.salary[0]];
      }
    }
  }
</script>