<style scoped lang='scss'>
  .input-wrap {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 35px;
    width: 100%;
    padding-right: 0;
    .input-type {
      font-size: 32px;
      color: #151515;
      position: absolute;
      top: 0;
      left: 0;
      width: 130px;
      text-align: justify;
      text-align-last: justify;
      display: inline-block;
      margin-top: 5px;
      &::after {
        content: '';
        width: 100%;
        display: inline-block;
      }
    }
    .input {
      padding-bottom: 25px;
      text-align: right;
      font-size: 30px;
      width: 100%;
      flex: 1;
      color: #666;
    }
  }
</style>
<template>
  <div class='input-wrap' :style="{order: input.order ? input.order : 0}">
    <span class='input-type'>{{input.title}}</span>
    <input placeholder-style="color:#ccc;" type='text' class='input' maxlength='15' :placeholder='input.placeholder' :name='input.name' v-model.lazy="input.val" v-if="input.type === 'text'">
    <input placeholder-style="color:#ccc;" type='number' class='input' maxlength='20' :placeholder='input.placeholder' :name='input.name' v-model.lazy="input.val" v-if="input.type === 'number'">
  </div>
</template>

<script>
  /**
   * input:{
   *   title: 左边文字,
   *   placeholder: 输入提示,
   *   val: 默认值,
   *   type: 输入框类型,
   *   name: name,
   *   order: 排序
   * }
   */
  import { mapState } from 'vuex'
  import utils from '@/utils/index.js'
  export default {
    props: ['input'],
    data() {
      return {
        val: ''
      }
    },
    onLoad() {
      this.input.val ? this.val = this.input.val : this.val = '';
    }
  }
</script>