<style scoped lang='scss'>
.job-list {
  background-color: white;
  .job-item {
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    border-bottom: 16px solid #fafafb;
    .job-title {
      font-size: 34px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      .jobTile {
        color: #333333;
        white-space: nowrap;
        width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .salary {
        color: #ff6f58;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .job-info {
      font-size: 26px;
      color: #666;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      .base-info {
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          margin-right: 25px;
        }
      }
      .timestamp {
        color: #ccc;
      }
    }
    .job-welfare {
      font-size: 24px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      div {
        background-color: #f7f8fa;
        border-radius: 5px;
        color: #999;
        height: 50px;
        line-height: 50px;
        padding: 0 19px;
        margin-right: 13px;
        margin-bottom: 15px;
        border-radius: 30px;
      }
    }
    .kindergarten-info {
      font-size: 30px;
      color: #333;
      display: flex;
      align-items: center;
      img {
        width: 59px;
        height: 59px;
        margin-right: 30px;
      }
    }
  }
  .job-item:last-of-type {
    border-bottom: none;
  }
  .thin {
    border-bottom: 1px solid #f3f3f3;
    &:last-of-type {
      border: none;
    }
  }
}
</style>
<template>
  <div class="job-list">
    <div :class="[beInterested ? 'thin' : '','job-item']" v-for="(job,jobIndex) in jobList" :key="job" @click="navigator(job.detailsid)">
      <div class="job-title">
        <div class="jobTile">{{job.name}}</div>
        <div class="salary">{{job.salary}}</div>
      </div>
      <div class="job-info">
        <div class="base-info">
          <span>{{job.address}}</span>
          <span>{{job.undergo}}</span>
          <span>{{job.educ}}</span>
        </div>
        <div class="timestamp">{{job.datatime}}</div>
      </div>
      <div class="job-welfare">
        <div v-for="tag in tagList[jobIndex]" :key="tag">{{tag}}</div>
      </div>
      <div class="kindergarten-info">
        <img :src="job.logo_src" alt="" v-if="job.logo_src">
        <span>{{job.schoolname}}</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted() {},
  props: {
    jobList: Array,
    beInterested: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    tagList() {
      let tagList = [];
      if (this.jobList) {
        for (let i of this.jobList) {
          if (i.welfare) {
            tagList.push(i.welfare.split(","));
          }
        }
        return tagList;
      }
    }
  },
  methods: {
    navigator: function(id) {
      const pageLength = getCurrentPages();
      if (pageLength >= 10) {
        return;
      }
      wx.navigateTo({
        url: `/pages/job-seek/job-desc?id=${id}`
      });
    }
  }
};
</script>