<style scoped lang='scss'>
  .link-cell {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 35px;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    .input-type {
      font-size: 32px;
      color: #151515;
      position: absolute;
      top: 0;
      left: 0;
      width: 130px;
      text-align-last: justify;
      text-align: justify;
      margin-top: 5px;
      &::after {
        content: '';
        width: 100%;
        display: inline-block;
      }
    }
    .input {
      padding-bottom: 25px;
      text-align: right;
      font-size: 30px;
      width: 100%;
      flex: 1;
      color: #666666;
    }
    .icon-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 16px;
      top: 20px;
    }
  }
</style>
<template>
 <a class="link-cell" :href="options.url">
    <input disabled class='input-type' :value='options.text'>
    <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png?v=1.0' alt='' class='icon-arrow' />
    <input type='text' class='input' disabled='true' :placeholder="options.placeholder ? options.placeholder : '请选择'" v-model='options.val' style="flex:none;" placeholder-style="color:#ccc;">
 </a>
</template>

<script>
  export default {
    props: ['options'],
    data() {
      return {}
    },
  }
</script>