<style scoped lang='scss'>
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 500;
    .icon-loading {
      width: 400px;
      height: 400px;
    }
  }
</style>
<template>
 <div class="loading" v-if="loading">
     <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/loading.gif?v=1.1" alt="" class="icon-loading">
 </div>
</template>

<script>
  export default {
    props: {
      loading: {
        type: Boolean,
        default: true
      }
    }
  }
</script>