<style scoped lang='scss'>
  .load-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .loading,
    .no-more {
      width: 100%;
      color: #cbcccc;
      font-size: 28px;
      text-align: center;
      box-sizing: border-box;
      padding: 22px 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon-loading {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      animation: whirl 1s linear infinite;
    }
    @keyframes whirl {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
</style>
<template>
 <div class="load-wrap">
    <div class='loading' v-if='loadMore'>
      <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-loading.png" class="icon-loading"/>正在加载...
    </div>
    <div class='no-more' v-if='!loadMore'>没有更多了</div>
 </div>
</template>

<script>
  import { mapState } from 'vuex'
  import utils from '@/utils/index.js'
  export default {
    props: ['loadMore']
  }
</script>