<style scoped lang='scss'>
.root {
  width: 100%;
  height: 100%;
  .mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
  }
  .login-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 51;
    height: 490px;
    width: 560px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 87px;
    .title {
      font-size: 36px;
      color: #2b2b2b;
      text-align: center;
      margin-bottom: 71px; // font-weight: bold;
    }
    .icon-close {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 20px;
      top: 20px;
      background-image: url("http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-close.png");
      background-size: 29px 29px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .wx-login-btn,
    .phone-login-btn {
      margin: 0 auto;
      height: 95px;
      width: 460px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: #fff;
      margin-bottom: 27px;
      background-color: #1aac19;
      border-radius: 10px;
      .icon-wx {
        width: 53px;
        height: 44px;
        margin-right: 20px;
      }
    }
    .phone-login-btn {
      color: #2b2b2b;
      background-color: #f8f8f8;
      border: 1px solid #e9e9e9;
      .icon-phone {
        width: 27px;
        height: 42px;
        margin-right: 36px;
      }
    }
  }
}
</style>
<template>
  <div v-if="show" class="root">
    <div class="mask"/>
    <div class="login-dialog">
      <div class="icon-close" @click="closeSelf"/>
      <p class="title">登录或注册园所直聘</p>
      <button class="wx-login-btn" open-type="getUserInfo" @getuserinfo="getuserinfo">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-wx.png" alt="" class="icon-wx">
        <p class="btn-text">微信账号快速登录</p>
      </button>
      <div class="phone-login-btn" @click="phoneLogin">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-phone.png" alt="" class="icon-phone">
        <p class="btn-text">手机号注册/登录</p>
      </div>
    </div>
  </div>
</template>

<script>
import utils from '@/utils/index.js'
export default {
  /**
   * 检查是否登录，true就去获取用户信息
   */
  async onLoad() {
    // 是否有token
    const token = wx.getStorageSync('token') || null
    if (!token) {
      this.$store.commit('loginStatus', false)
    }
    try {
      //  先获取code,在bindgetuserinfo 等返回加密信息的回调中调用 wx.login 登录，可能会刷新登录态。此时服务器使用 code 换取的 sessionKey 不是加密时使用的 sessionKey，导致解密失败。建议开发者提前进行 login；或者在回调中先使用 checkSession 进行登录态检查，避免 login 刷新登录态
      const code = await utils.login()
      this.code = code
      //  用户信息不存在，但token存在，视为未登录，去获取用户信息
      if (!this.$store.state.userInfo.identity && token) {
        await this.$store.dispatch('getUserInfo')
      }
      if (!this.$store.state.login) {
        this.show = true
      } else {
        this.show = false
      }
      this.$emit('getData')
    } catch (error) {
      utils.alert(error)
    }
    await this.$store.dispatch('getConfig')
  },
  async onShow() {
    const code = await utils.login()
    this.code = code
  },
  props: {
    open: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      show: false,
      code: ''
    }
  },
  computed: {
    login() {
      return this.$store.state.login
    }
  },
  watch: {
    open: function() {
      this.show = this.open
    },
    async login() {
      if (this.$store.state.login) {
        this.show = false
      }
      try {
        const code = await utils.login()
        this.code = code
      } catch (error) {
        utils.alert(error)
      }
    }
  },
  methods: {
    phoneLogin: function() {
      wx.navigateTo({
        url: '/pages/login/login'
      })
    },
    /**
     * 登录流程：调用login获取手机号码,后端解密后返回token,将登陆状态设置为true,拿到token去查询用户信息根据返回进行下一步操作
     */
    getuserinfo: async function(res) {
      this.$store.commit('setWeiUserInfo', res.mp.detail.userInfo)
      wx.showLoading({
        title: '加载中',
        mask: true
      })
      if (!res.mp.detail.encryptedData || !res.mp.detail.iv) {
        utils.toast('登录失败')
        wx.hideLoading()
        return false
      }
      try {
        const result = await utils.ajax('/weilogin', {
          encryptedData: res.mp.detail.encryptedData,
          iv: res.mp.detail.iv,
          code: this.code,
          weiname: res.mp.detail.userInfo.nickName
        })
        if (result.data.style === 2) {
          this.$store.commit('setunionid', result.data.unionid)
          wx.navigateTo({ url: '/pages/login/bind-phone' })
          wx.hideLoading()
          return
        }
        wx.setStorageSync('token', result.data.token)
        this.$store.commit('loginStatus', true)
        this.show = false
        utils.toast(result.msg)
        await this.$store.dispatch('getUserInfo')
        this.$emit('getData')
        wx.hideLoading()
      } catch (error) {
        utils.toast('登录失败！')
      }
    },
    /**
     * 获取用户信息，根据返回进行下一步操作
     */
    closeSelf: function() {
      this.$emit('closeSelf')
      this.show = false
    }
  }
}
</script>
