<style scoped lang='scss'>
  .nothing {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 32px;
    width: 100%;
    left: 0;
    color: #e0e0e0;
    .icon-nothing {
      width: 224px;
      height: 218px;
      margin-bottom: 20px;
    }
    .go-index {
      width: 403px;
      height: 91px;
      line-height: 90px;
      background-color: #00c168;
      font-size: 32px;
      color: white;
      margin: 66px auto;
      border-radius: 10px;
    }
  }
</style>
<template>
 <div class="nothing">
    <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-nothing.png" class="icon-nothing">
    <p><text>{{tips}}</text></p>
    <button class="go-index" @click="goIndex" v-if="showBtn">看看新机会</button>
  </div>
</template>

<script>
  export default {
    props: {
      tips: String,
      showBtn: false
    },
    methods: {
      goIndex: function () {
        wx.switchTab({ url: '/pages/tab-bar/index' });
      }
    }
  }
</script>