<style scoped lang='scss'>
  .input-wrap {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 35px;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    .input-type {
      font-size: 32px;
      color: #151515;
      position: absolute;
      top: 0;
      left: 0;
      width: 130px;
      text-align-last: justify;
      text-align: justify;
      margin-top: 5px;
      &::after {
        content: '';
        width: 100%;
        display: inline-block;
      }
    }
    .input {
      padding-bottom: 25px;
      text-align: right;
      font-size: 30px;
      width: 100%;
      flex: 1;
      color: #666666;
    }
    .icon-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 16px;
      top: 20px;
    }
  }

  .style {
    margin-top: 0;
    border-bottom: none;
  }
</style>
<template>
  <picker :class="[{style:style},'input-wrap','picker-wrap']" :value="defaultIndex" :mode="options.mode ? options.mode : 'selector'" :range="options.range ? options.range : ''" @change='change' :style="[{order:options.order ? options.order : 0}]" :start="options.start ? options.start : '' " :end="options.end ? options.end : ''" :fields="options.fields ? options.fields : 'day'" :range-key="options.mode === 'region'? '' : 'name'">
    <!-- <input class='input-type' :value="options.title" disabled="true"> -->
    <span class='input-type'>{{options.title}}</span>
    <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png?v=1.0' alt='' class='icon-arrow' />
    <input type='text' class='input' disabled='true' placeholder='请选择' v-model='name' placeholder-style="color:#ccc;">
    <input type="text" disabled='true' :name="options.name" v-model='code' style="display:none;">
  </picker>
</template>
<script>
  /**
   * options:{
   *  title: 标题,
   *  placeholder: 标题,
   *  name: input的name
   *  mode: picker的类型,
   *  range: 选项值,
   *  order: 排序,
   *  start: 开始时间(mode为date或者time时有效)
   *  end:  结束时间(mode为date或者time时有效)
   *  fields:  结束时间(mode为date或者time时有效)
   * }
   */
  import { mapState } from 'vuex'
  import utils from '@/utils/index.js'
  export default {
    props: ['options'],
    data() {
      return {
        name: '',
        code: '',
        defaultIndex: 0,
        style: false,
        defaults: 0
      }
    },
    methods: {
      change: function (res) {
        const index = Number(res.mp.detail.value),
          type = this.options.mode;
        if (type === 'selector' && this.options.name != 'salary' && this.options.name != 'undergo_require') {
          [this.name, this.code] = [this.options.range[index].name, this.options.range[index].code]
        } else if (type === 'selector' && this.options.name === 'salary') {
          [this.name, this.code] = [this.options.range[index].name, (this.options.range[index]['salary_s'] + ',' + this.options.range[index]['salary_e'])];
        } else if (type === 'selector' && this.options.name === 'undergo_require') {
          [this.name, this.code] = [this.options.range[index].name, (this.options.range[index]['undergo_s'] + ',' + this.options.range[index]['undergo_e'])];
        } else if (type === 'date') {
          this.options.fields ? [this.name, this.code] = [res.mp.detail.value, res.mp.detail.value] : [this.name, this.code] = [res.mp.detail.value, res.mp.detail.value];
          this.$emit('date', { type: this.options.name, val: res.mp.detail.value });
        } else {
          [this.name, this.code] = [res.mp.detail.value, res.mp.detail.value];
        }
        this.defaultIndex = res.mp.detail.value;
      }
    },
    onLoad() {
      const pages = getCurrentPages()[getCurrentPages().length - 1].route;
      pages.indexOf('/edit-Job/edit-address') >= 0 ? this.style = true : '';
      const type = this.options.mode;
    },
    watch: {
      options: {
        //  默认值的处理
        handler() {
          typeof (this.options.val.name) === "undefined" ? this.name = this.options.val: this.name = this.options.val.name;
          typeof (this.options.val.code) === "undefined" ? this.code = this.name: this.code = this.options.val.code;
          if (this.options.mode === 'selector') {
            if (this.options.range) {
              this.options.range.forEach((item, index) => {
                item.name === this.options.val.name || Number(item.code) === Number(this.options.val.code) ? this.defaultIndex = index : '';
              });
            }
          } else if (this.options.mode === 'date') {
            if (this.options.val) {
              [this.defaultIndex, this.name, this.code] = [this.options.val, this.options.val, this.options.val]
            } else {
              this.opions.title === '入职时间' || this.opions.title === '离职时间' ? '' : this.defaultIndex = '1990-01-01';
            }
          } else if (this.options.mode === 'region') {
            if (this.options.val.code) {
              this.defaultIndex = this.options.val.code.split(',')
            } else {
              this.defaultIndex = ['北京市', '北京市', '东城区'];
            }
          }
        },
        immediate: true,
        deep: true
      }
    }
  }
</script>