<style scoped lang='scss'>
@mixin input {
  width: 630px;
  border-bottom: 1px solid #edeff1;
  padding-bottom: 46px;
  font-size: 36px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: left !important;
}

@mixin loginCode {
  width: 630px;
  position: relative;
  margin: 0 auto;
  .getCode-btn,
  .countDown-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    color: white;
    background-color: #fe7955;
    width: 150px;
    height: 66px;
    line-height: 66px;
    border-radius: 8px;
    text-align: center;
    z-index: 10;
    border-radius: 100px;
  }
  .countDown-btn {
    background-color: #c2c9d0;
  }
  .empty-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
    background-image: url(http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-emptyPassword.png);
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@mixin btn {
  width: 640px;
  height: 100px;
  background-color: #00c168;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  color: white;
  border-radius: 100px;
  margin: 50px auto 0 auto;
}

@mixin form {
  display: block;
  input {
    @include input();
  }
  .verification-code {
    @include loginCode();
  }
}

input {
  transition: all 0.1s;
}

input:hover {
  border-color: #00c168 !important;
}

.disabled {
  &:hover {
    border-color: #edeff1 !important;
  }
}

.disabled-btn {
  background-color: #c2c9d0 !important;
}

.reset-password {
  box-sizing: border-box;
  padding: 220px 60px 0 60px;
  .form {
    @include form();
    .reset-btn {
      @include btn();
    }
  }
}

.input-wrap {
  position: relative;
  .empty-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 50;
    background-image: url(http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-emptyPassword.png);
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.new-password {
  padding-right: 15px;
}
</style>
<template>
  <div class="reset-password">
    <form class="form" @submit="submit">
      <div class="input-wrap">
        <input v-model="partPhone" :disabled="reset.type === 2" v-if="reset.type === 2" type="number" name="phone" class="phone disabled" focus="true" maxlength="11">
        <input :placeholder="reset.placeholder ? reset.placeholder : '请输入新手机号'" v-if="reset.type === 3" v-model="phone" type="number" name="phone" class="phone" focus="true" maxlength="11">
        <div v-if="phone.length > 0 && reset.type === 3" alt="" class="empty-btn" @click="phone = ''"/>
      </div>
      <div v-if="reset.type === 2" class="input-wrap">
        <input v-model="password" password="true" placeholder="密码需为6-18位" class="new-password" name="new-password" maxlength="18">
        <div v-if="password.length > 0" alt="" class="empty-btn" @click="password = ''"/>
      </div>
      <div class="verification-code">
        <input v-model="loginCode" type="number" placeholder="请输入收到的验证码" class="v-code" name="loginCode" maxlength="4">
        <div v-if="countDown >= 60" class="getCode-btn" @click="getCode()">获取验证码</div>
        <div v-if="countDown < 60" class="countDown-btn">{{ countDown }}s后重试</div>
      </div>
      <button v-if="password.length > 0 && reset.type === 2" class="reset-btn" form-type="submit">{{ reset.btnText }}</button>
      <button v-if="password.length === 0 && reset.type === 2" class="reset-btn disabled-btn">{{ reset.btnText }}</button>
      <button v-if="reset.type === 3" class="reset-btn" form-type="submit">{{ reset.btnText }}</button>
    </form>
  </div>
</template>

<script>
import utils from '@/utils/index.js'
export default {
  props: ['reset'], // reset.type 2:修改密码 3：修改手机号
  data() {
    return {
      phone: '', // 获取填写的手机号
      password: '', //  获取填写的密码
      loginCode: '', // 获取填写验证码
      countDown: 60, // 发送短信倒计时
      timer: '', // 用来清除Interval
      partPhone: ''
    }
  },
  computed: {
    fatPhone: function() {
      return this.phone.trim()
    },
    fatPassword: function() {
      return this.password.trim()
    },
    fatLoginCode: function() {
      return this.loginCode.trim()
    },
    init: function() {
      if (this.reset.type === 2) {
        this.phone = this.reset.phone
        this.partPhone = this.reset.text
      } else {
        this.phone = ''
      }
    }
  },
  methods: {
    resetPassword: async function(form) {
      let data,
        phone = this.fatPhone,
        loginCode = this.fatLoginCode,
        password = this.fatPassword
      if (!utils.validate(password.length > 6, '密码必须为6到18位') || !utils.validate(loginCode.length === 4, '验证码不能为空/验证码错误')) { return false }
      data = {
        phone: phone,
        smscode: loginCode,
        password: password
      }
      try {
        const result = await utils.ajax('/password', data)
        wx.setStorageSync('token', result.data.token)
        clearInterval(this.timer)
        utils.saveSuccess(result.msg, 2)
      } catch (error) {
        utils.toast(error)
      }
    },
    getCode: async function() {
      if (utils.validate({ type: 'phone', value: this.fatPhone })) {
        const result = await utils.ajax('/sendsms?phone=' + this.fatPhone + '&smstype=' + this.reset.type)
        this.countDown--
        if (Number(result.status) === 1) {
          utils.toast(result.msg)
          this.timer = setInterval(() => {
            if (this.countDown <= 0) {
              this.countDown = 60
              clearInterval(this.timer)
              return
            }
            this.countDown--
          }, 1000)
        }
      }
    },
    bindPhone: async function() {
      const phone = this.fatPhone
      const loginCode = this.fatLoginCode
      if (utils.validate({ type: 'phone', value: phone }) && utils.validate(loginCode.length > 0, '验证码能为空')) {
        let result
        if (this.reset.unionid) {
          result = await utils.ajax('/weiphone', { phone: this.fatPhone, smscode: this.fatLoginCode, unionid: this.reset.unionid, code: this.reset.code })
          wx.setStorageSync('token', result.data.token)
          this.$emit('loginSuccess')
        } else {
          result = await utils.ajax('/uptphone', { phone: this.fatPhone, smscode: this.fatLoginCode })
          utils.saveSuccess(result.data, 2)
        }
      }
    },
    submit: function() {
      if (this.reset.type === 2) {
        this.resetPassword()
      } else if (this.reset.type === 3) {
        this.bindPhone()
      }
    }
  }
}
</script>
