<style scoped lang='scss'>
  .resume-list {
    .resume-item {
      padding: 30px 25px;
      border-top: 15px solid #fafafb;
      display: flex;
      background-color: #fff;
      &:first-of-type {
        border-top: none;
      }
      .avatar {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-right: 29px;
      }
      .info-wrap {
        flex: 1;
        overflow: hidden;
        .name-wrap {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .name {
            font-size: 34px;
            font-weight: bold;
            display: flex;
            align-items: center;
            .icon-woman {
              width: 21px;
              height: 27px;
              margin-left: 17px;
            }
            .icon-man {
              width: 25px;
              height: 28px;
              margin-left: 17px;
            }
          }
          .timestamp {
            font-size: 30px;
            color: #a3a3a3;
          }
        }
        .base-info {
          margin-bottom: 20px;
          span {
            margin-right: 16px;
            color: #4d4d4d;
            font-size: 28px;
          }
        }
        .experience {
          width: 100%;
          font-size: 30px;
          color: #a3a3a3;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .thin-border {
      border-top: none;
      border-bottom: 1px solid #ececec;
    }
  }
</style>
<template>
  <div class="resume-list">
    <div :class="['resume-item',{'thin-border':style}]" v-for="resume in resumeList" :key="resume" @click="goResume(resume)">
      <img :src="resume.user_images_src" class="avatar" v-if="resume.user_images_src">
      <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/profilephoto_man@2x.png" class="avatar" v-if="!resume.user_images_src && resume.sex === '男'">
      <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/profilephoto_women@2x.png" class="avatar" v-if="!resume.user_images_src && resume.sex === '女'">
      <div class="info-wrap">
        <div class="name-wrap">
          <div class="name">{{resume.name}}
            <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-man.png" alt="" class="icon-man" v-if="resume.sex === '男' || !resume.sex">
            <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-woman.png" alt="" class="icon-woman" v-if="resume.sex === '女'">
          </div>
          <div class="timestamp">{{resume.datatime}}</div>
        </div>
        <div class="base-info">
          <span>{{resume.birthday}}</span>
          <span>{{resume.experience}}</span>
          <span>{{resume.educ}}</span>
          <span>{{resume.salary}}</span>
        </div>
        <p class="experience">期望职位：{{resume.position}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ["resumeList"],
    mounted() {
      const page = getCurrentPages()[getCurrentPages().length - 1].route;
      if (
        page.indexOf("/rec-manage") >= 0 ||
        page.indexOf("/resume-collection") >= 0
      ) {
        this.style = true;
      }
    },
    data() {
      return {
        style: false
      };
    },
    methods: {
      goResume: function (resume) {
        let url = `/pages/recruit/resume-desc?id=${resume.detailsid}`;
        resume.mailingid ?
          (url = `/pages/recruit/resume-desc?id=${resume.id}&mailingid=${
            resume.mailingid
          }`) :
          "";
        if (resume.status) {
          resume.status === 3 || resume.status === 4 ?
            (url = `/pages/recruit/resume-status?mailingid=${resume.mailingid}`) :
            "";
        }
        wx.navigateTo({
          url: url
        });
      }
    }
  };
</script>