<style scoped lang='scss'>
  .input-wrap {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 35px;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    .input-type {
      font-size: 32px;
      color: #151515;
      position: absolute;
      top: 0;
      left: 0;
      width: 130px;
      text-align-last: justify;
      text-align: justify;
      margin-top: 5px;
      &::after {
        content: "";
        width: 100%;
        display: inline-block;
      }
    }
    .input {
      padding-bottom: 25px;
      text-align: right;
      font-size: 30px;
      width: 100%;
      flex: 1;
      color: #666666;
    }
    .icon-arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 10px;
      height: 16px;
      top: 20px;
    }
  }
</style>
<template>
  <picker class='input-wrap picker-wrap' mode='multiSelector' @change='change' :range="salaryList" range-key="name" @columnchange="columnchange" :value="defaultSalary">
    <span class='input-type'>{{options.title}}</span>
    <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png' alt='' class='icon-arrow'>
    <input type='text' class='input' disabled='true' placeholder='请选择' v-model='salary.name' placeholder-style="color:#ccc;">
  </picker>
</template>

<script>
  import utils from "@/utils/index.js";
  export default {
    props: ["options"],
    data() {
      return {
        salaryList: "",
        salaryArray: "",
        salary: { name: "", salary_s: "", salary_e: "" },
        defaultSalary: []
      };
    },
    methods: {
      columnchange: function (e) {
        //  修改range,直接修改数组无法响应,通过$set修改才行
        if (e.mp.detail.column === 0) {
          this.$set(this.salaryList, 1, this.salaryArray[e.mp.detail.value]);
        }
      },
      change: function (e) {
        let index = e.mp.detail.value;
        index[1] ? "" : (index[1] = 0);
        this.salary.name =
          this.salaryList[0][index[0]].name +
          "-" +
          this.salaryList[1][index[1]].name;
        const data = {
          salary_s: this.salaryList[0][index[0]].code,
          salary_e: this.salaryList[1][index[1]].code
        };
        this.$emit("choose", data);
      },
      init: async function () {
        const page = getCurrentPages()[getCurrentPages().length - 1].route;
        let result = this.$store.state.config;
        let salary = [
          [],
          []
        ];
        result.salary.forEach(item => {
          salary[1].push(item.title);
          let obj = { name: item.name, code: item.code }; //  创建新对象过滤掉title,不能使用delete
          salary[0].push(obj);
        });
        this.salaryArray = salary[1];
        this.salaryList = [salary[0], this.salaryArray[0]];
        if (this.options.salary_s && this.options.salary_e) {
          this.salary = {
            name: this.options.name,
            salary_e: this.options.salary_e,
            salary_s: this.options.salary_s
          };
          let sindex;
          salary[0].forEach((item, index) => {
            if (item.code === this.options.salary_s) {
              this.defaultSalary.push(index);
              sindex = index;
            }
          });
          salary[1][sindex].forEach((item, index) => {
            item.code === this.options.salary_e ? this.defaultSalary.push(index) : "";
          });
          this.salaryList = [salary[0], this.salaryArray[sindex]];
        }
      }
    },
    watch: {
      options: {
        handler() {
          this.init();
        },
        immediate: true,
        deep: true
      }
    }
  };
</script>