<style scoped lang='scss'>
  .share {
    .mask {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .shareDialog {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 11;
      height: 380px;
      width: 100%;
      background-color: white;
      transition: all 0.5s;
      transform: translateY(100%);
      .btn-wrap {
        padding: 0 30px;
        box-sizing: border-box;
        .btn-item {
          display: flex;
          align-items: center;
          font-size: 36px;
          color: #2b2b2b;
          padding-bottom: 25px;
          border-bottom: 1px solid #e9e9e9;
          margin-top: 25px;
          &:last-of-type {
            border-bottom: none;
          }
          .share-icon {
            height: 88px;
            width: 88px;
            border-radius: 50%;
            margin-right: 25px;
          }
        }
      }
      .cancle {
        border-top: 10px solid #f7f8fa;
        width: 100%;
        height: 100px;
        font-size: 36px;
        color: #a3a3a3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .show-dialog {
      transform: translateY(0);
    }
  }
</style>
<template>
 <div class="share">
   <div :class="[showShare ? 'show-dialog' : '','shareDialog']">
     <div class="btn-wrap">
       <div class="btn-item" @click="$emit('poster')">
         <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-share_poster.png" alt="" class="share-icon">
         <p>生成朋友圈分享图</p>
       </div>
       <button class="btn-item" open-type="share">
         <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-share_btn.png" alt="" class="share-icon">
         <p>转发给好友或聊天</p>
       </button>
     </div>
     <div class="cancle" @click="$emit('cancle')">取消</div>
   </div>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  export default {
    props: ['id', 'showShare'],
    data() {}
  }
</script>