<style>
page {
  height: 100%;
  background-color: #f7f8fa;
}
</style>

<style scoped lang='scss'>
.mask {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 50;
  position: fixed;
  left: 0;
  top: 0;
}

.root {
  background-color: #f7f8fa;
  position: relative;
  padding-bottom: 80px;
  .jobHunter {
    background-color: #f7f8fa;
    .banner-wrap {
      position: relative;
      .search-wrap {
        display: block;
        width: 616px;
        height: 64px;
        border-radius: 100px;
        background-color: #fff;
        color: #c4c3c9;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 38px;
        left: 45px;
        .icon-search {
          width: 22px;
          height: 24px;
          margin-right: 15px;
          position: relative;
        }
        z-index: 10;
      }
      .icon-subscribe {
        z-index: 10;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 30px;
        top: 50px;
      }
      .banner {
        width: 750px;
        height: 386px;
        img {
          width: 750px;
          height: 100%;
        }
      }
    }
    .tips {
      text-align: center;
      font-size: 32px;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      color: #333;
      white-space: nowrap;
    }
  }
  .recruiter {
    background-color: #f7f8fa; // box-shadow: 0 0px 30px rgba(26, 26, 26, 0.1);
    min-height: 100%;
    .recruiter-title {
      height: 94px;
      padding: 0 31px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      position: relative;
      z-index: 51;
      .down-list {
        padding: 40px 0 20px 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: white;
        z-index: 51;
        left: 0;
        transform: translateY(100%);
        text-align: center;
        .list-title {
          font-size: 30px;
          color: #8b8b8b;
          margin-bottom: 40px;
        }
        .list-wrap {
          padding: 0 30px 30px 30px;
          .list-item {
            font-size: 32px;
            border-bottom: 2px solid #fafafa;
            padding-bottom: 21px;
            text-align: right;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .name {
              width: 400px;
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            span:last-of-type {
              color: #ff4b3b;
            }
          }
        }
      }
      .post-job,
      .search-talent {
        font-size: 28px;
        margin-right: 10px;
        color: #4d4d4d;
        display: flex;
        align-items: center;
      }
      .icon-search_2 {
        width: 32px;
        height: 33px;
        margin-right: 10px;
      }
      .icon-post {
        width: 36px;
        height: 36px;
        margin-right: 10px;
      }
      .recommend-cv {
        font-size: 34px;
        font-weight: bold;
        color: #2b2b2b;
        display: flex;
        align-items: center;
        .icon-da {
          width: 17px;
          height: 9px;
          margin-left: 10px;
        }
      }
    }
  }
  .recruiter-body {
    .post-hint {
      margin-top: 290px;
      .hint-text {
        font-size: 30px;
        color: #2b2b2b;
        text-align: center;
        line-height: 48px;
      }
      .post-btn {
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
        line-height: 80px;
        margin-top: 40px;
        width: 500px;
        height: 80px;
        background-color: #00c168;
        color: #fff;
        border-radius: 6px;
      }
    }
    .filter-empty {
      font-size: 32px;
      color: #2b2b2b;
      text-align: center;
      margin-top: 450px;
    }
  }
  .login-dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }
}
</style>
<template>
  <div class="root">
    <div class="login-dialog">
      <LoginDialog @getData="getData"/>
    </div>
    <Load :loading="loading"/>
    <div v-if="!loading" class="index">
      <!-- 求职端 -->
      <div v-if="identity === 1" class="jobHunter">
        <div class="banner-wrap">
          <div class="search-wrap" @click="goSearch">
            <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-search.png" class="icon-search" >请输入职位园所名称
          </div>
          <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-subscribes.png" alt="" class="icon-subscribe" @click="subscribe">
          <swiper class="banner" autoplay="true" circular="true">
            <swiper-item v-for="img in imgUrls" :key="img">
              <img :src="img.images_src" alt="">
            </swiper-item>
          </swiper>
        </div>
        <!-- 职位列表 -->
        <JobList :job-list="listData"/>
        <p v-if="listData.length === 0" class="tips">暂时没有符合条件的职位哦~</p>
      </div>
      <!-- 招聘端 -->
      <div v-if="identity === 2" class="recruiter">
        <div class="recruiter-title">
          <div class="post-job" @click="postJob">
          <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-post.png" class="icon-post">发职位</div>
          <div class="recommend-cv" @click="slideDown">{{ selectPosition }}<img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-fullDA.png" alt="" class="icon-da"></div>
          <a class="search-talent" href="/pages/public/search">
          <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-search_2.png" class="icon-search_2">搜人才</a>
          <!-- 简历筛选下啦 -->
          <div v-if="shwoDownList" class="down-list">
            <p class="list-title">- 选择已发布的职位，查看应聘简历 -</p>
            <div class="list-wrap">
              <div class="list-item" @click="filtrate()">全部职位</div>
              <div v-for="(item,index) in postList" :key="index" class="list-item" @click="filtrate(item)">
                <span class="name">{{ item.name }}</span>
                <span>{{ item.salary }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="recruiter-body">
          <!-- 未发布职位的提示 -->
          <div v-if="listData.length === 0 && postList.length === 0" class="post-hint">
            <p class="hint-text">您还没有发布过职位，
            <br>发布职位才能获得更精准的人才推荐</p>
            <div class="post-btn" @click="postJob">发布新职位</div>
          </div>
          <!-- 筛选为空的提示 -->
          <div v-if="listData.length === 0 && postList.length > 0" class="filter-empty">未找到可以推荐的人才，去搜索试试吧!</div>
          <!-- 简历列表 -->
          <div v-if="listData.length > 0">
            <ResumeList :resume-list="listData"/>
          </div>
        </div>
      </div>
      <!-- 加载提示 -->
      <div v-if="shwoDownList" class="mask" @click="shwoDownList = false"/>
      <LoadMore v-if="listData.length > 0" :load-more="loadMore"/>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import JobList from '@/components/JobList'
import ResumeList from '@/components/ResumeList'
import LoginDialog from '@/components/LoginDialog'
import LoadMore from '@/components/LoadMore'
import utils from '@/utils/index.js'
import { store } from '@/store/modules/index'
import Load from '@/components/Load'
export default {
  components: {
    JobList,
    ResumeList,
    LoginDialog,
    LoadMore,
    Load
  },
  data() {
    return {
      imgUrls: [],
      listData: [],
      page: 1,
      loadMore: false,
      shwoDownList: false,
      postList: [],
      identity_: 0, // 切换身份，刷新数据用的标识
      school: 0, // 园所信息是否完善
      loading: true,
      selectPosition: '全部职位'
    }
  },
  computed: {
    ...mapState(['login']),
    identity() {
      let identity
      this.$store.state.userInfo.identity ? (identity = this.$store.state.userInfo.identity) : (identity = 1)
      return identity
    },
    login() {
      return this.$store.state.login
    },
    condition() {
      return store.state.condition
    }
  },
  watch: {
    login() {
      if (this.login) {
        this.showDialog = false
      }
    },
    condition() {
      if (this.identity === 1) {
        this.refresh()
      }
    }
  },
  async mounted() {
    if (this.identity === 1) {
      store.commit('getCondition')
    }
  },
  methods: {
    getPositionList: async function() {
      const res = await utils.ajax('/positionlist?status=1')
      this.postList = res.data.positionlist.data
    },
    postJob: function() {
      if (this.school > 0) {
        wx.navigateTo({
          url: '/pages/recruit/post-job'
        })
        return
      } else {
        wx.showModal({
          title: '提示',
          content: '请先完善园所相关信息',
          showCancel: false,
          confirmText: '去完善',
          confirmColor: '#3CC51F',
          success: res => {
            if (res.confirm) {
              wx.switchTab({ url: '/pages/tab-bar/my' })
            }
          }
        })
      }
    },
    goSearch: function() {
      wx.navigateTo({
        url: '/pages/public/search'
      })
    },
    subscribe: function() {
      wx.navigateTo({
        url: '/pages/job-seek/job-subscription'
      })
    },
    getData: async function() {
      utils.setTabBar(this.identity)
      this.identity_ = this.identity
      let url
      let param = '?position='
      //  职位订阅的处理
      if (this.identity === 1) {
        const condition = store.state.condition
        store.commit('getCondition')
        condition.expectJob.name ? (param += condition.expectJob.code) : ''
        condition.expectCity.name ? (param += '&city=' + condition.expectCity.code) : ''
      }
      if (this.identity === 2 && this.page === 1) {
        this.getPositionList()
      }
      param.indexOf('?') >= 0 ? (param += `&page=${this.page}`) : (param += `?page=${this.page}`)
      this.$store.state.login ? (url = '/index') : (url = '/weiindex')
      const listData = await utils.ajax(url + param)
      if (this.page > 1) {
        this.identity === 1 ? (this.listData = this.listData.concat(listData.data.data)) : (this.listData = this.listData.concat(listData.data.resumes.data))
      } else if (this.page === 1) {
        this.identity === 1 ? (this.listData = listData.data.data) : (this.listData = listData.data.resumes.data)
        this.imgUrls = listData.banner
      }
      if (this.identity === 2) {
        this.school = listData.data.school
      }
      this.loading = false
      setTimeout(() => {
        wx.stopPullDownRefresh()
      }, 100)
    },
    slideDown: async function() {
      this.shwoDownList = !this.shwoDownList
    },
    filtrate: async function(item) {
      let url
      this.page = 1
      if (item) {
        url = `/index?positionid=${item.id}`
        this.selectPosition = item.name
      } else {
        url = '/index'
        this.selectPosition = '全部职位'
      }
      const res = await utils.ajax(url, true)
      this.listData = res.data.resumes.data
      this.shwoDownList = false
    },
    refresh: function() {
      this.page = 1
      this.getData()
    }
  },
  async onShow() {
    if (this.identity_ !== this.identity && this.identity_ !== 0) {
      this.loading = true
      this.listData = []
      this.page = 1
      this.getData()
    }
    if (this.identity === 2 && !this.loading) {
      this.getPositionList()
    }
  },
  async onReachBottom() {
    const len = this.listData.length
    this.loadMore = true
    this.page++
    await this.getData()
    if (len === this.listData.length) {
      this.loadMore = false
      this.page--
      return
    }
  },
  onPullDownRefresh() {
    this.refresh()
  },
  onHide() {
    this.$store.commit('changeSwitch')
  }
}
</script>
