<style>
  page {
    height: 100%;
  }
</style>

<style scoped lang='scss'>
  @mixin line() {
    height: 130px;
    width: 100%;
    padding: 0 69px 0 50px;
    box-sizing: border-box;
    font-size: 24px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
    justify-content: space-between;
    .left-text {
      font-size: 32px;
      color: #151515;
      display: flex;
      align-items: center;
      .icon {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        position: relative;
        top: 5px;
        left: -5px;
      }
      span {
        position: relative;
        top: 5px;
      }
    }
    .right-text {
      font-size: 30px;
      color: #626262;
    }
    &::before {
      content: "\00A0";
      width: 14px;
      height: 26px;
      background-image: url("http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png");
      background-size: 100% 100%;
      position: absolute;
      right: 31px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .my {
    height: 100%;
    background-color: #f7f8fa;
    width: 100%;
    .header {
      background-color: #fff;
      box-sizing: border-box;
      padding: 36px;
      display: flex;
      align-items: center;
      .avatar {
        width: 122px;
        height: 122px;
        border-radius: 50%;
        margin-right: 45px;
      }
      .user-info {
        flex: 1;
        color: #2b2b2b;
        .name {
          font-size: 36px;
        }
        .desc {
          font-size: 30px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .edit-btn {
        width: 118px;
        height: 47px;
        background-color: #f7f8fa;
        border-radius: 5px;
        font-size: 24px;
        color: #989898;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2b2b2b;
        .icon-edit {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
    .options-wrap {
      display: flex;
      flex-wrap: wrap;
      .job-seek {
        width: 750px;
        .line {
          @include line;
          background-color: white;
          border-bottom: 1px solid #f7f8fa;
        }
        .thick-bottom {
          border-bottom: 16px solid #f7f8fa !important;
        }
      }
    }
    .login-dialog {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500;
    }
  }

  .icon-privacy {
    position: relative;
    top: -3px !important;
  }

  .red {
    color: #eaa126 !important;
  }
</style>
<template>
  <div class="my">
    <div class="login-dialog">
      <LoginDialog :open="showDialog" @closeSelf="closeSelf" @getData="getData"></LoginDialog>
    </div>
    <Load :loading="loading"></Load>
    <div class="content-wrap" v-if="!loading">
      <!-- 求职者头部 -->
      <div class="header" @click="edit" v-if="identity === 1">
        <img :src="login && userInfo && userInfo.user_images_src ? userInfo.user_images_src : 'http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-defaultAvatar.png?v=1.0'" alt="" class="avatar">
        <div class="user-info">
          <p class="name" v-if="!login">点击登录</p>
          <p class="name" v-if="login">{{userInfo && userInfo.name? userInfo.name : '请完善简历信息'}}</p>
        </div>
        <div class="edit-btn" v-if="login">
          <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/nav_icon_edit.png" alt="" class="icon-edit">
          <span>编辑</span>
        </div>
      </div>
      <!-- 招聘者头部 -->
      <div class="header" @click="edit" v-if="login && identity === 2">
        <img :src="userInfo && userInfo.logo_src ? userInfo.logo_src : 'http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-school.png?v=1.0'" alt="" class="avatar">
        <div class="user-info">
          <p class="name" v-if="!login">点击登录</p>
          <p class="name" v-if="login">{{userInfo && userInfo.name ? userInfo.name : '请完善园所信息'}}</p>
        </div>
        <div class="edit-btn" v-if="login">
          <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/nav_icon_edit.png" alt="" class="icon-edit">
          <span>编辑</span>
        </div>
      </div>
      <!-- 求职者选项 -->
      <div class="options-wrap" v-if="identity === 1 || identity === 0">
        <button class="job-seek" v-for="item in jobSeek" @click="set(item)" :key="item" :style="{order:index}" :open-type="item.leftText === '联系客服' ? 'contact' : ''">
          <div class="line">
            <p class="left-text"><img :src="item.icon" alt="" class="icon">
              <span>{{item.leftText}}</span>
            </p>
            <p class="right-text">{{item.rightText ? item.rightText : ''}}</p>
          </div>
        </button>
        <!-- 隐私设置 -->
        <picker class="job-seek" style="order:3;" :range="privacy.range" @change="privacySet" range-key='name' v-if="login">
          <div class="line thick-bottom">
            <p class="left-text"><img :src="privacy.icon" alt="" class="icon icon-privacy">
              <span>{{privacy.leftText}}</span>
            </p>
            <p class="right-text">{{privacy.rightText}}</p>
          </div>
        </picker>
      </div>
      <!-- 招聘者选项 -->
      <div class="options-wrap" v-if="identity === 2">
        <button class="job-seek" v-for="item in rec" @click="set(item)" :key="item" :style="{order:index}" :open-type="item.leftText === '联系客服' ? 'contact' : ''">
          <div :class="[{'thick-bottom':(index + 1) === rec.length || index === 2},'line']">
            <p class="left-text"><img :src="item.icon" alt="" class="icon">
              <span>{{item.leftText}}</span>
            </p>
            <p :class="['right-text',{'red': index === 3 || index === 4}]">{{item.rightText}}</p>
          </div>
        </button>
      </div>
      <!-- 公用选项 -->
      <div class="options-wrap">
        <button class="job-seek" v-for="item in common" @click="set(item)" :key="item" :style="{order:index}" :open-type="item.leftText === '联系客服' ? 'contact' : ''">
          <div class="line">
            <p class="left-text"><img :src="item.icon" alt="" class="icon">
              <span>{{item.leftText}}</span>
            </p>
          </div>
        </button>
        <button class="job-seek" open-type="feedback" style="order:1">
          <div class="line">
            <p class="left-text">
              <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/ic_fadeback.png" alt="" class="icon">
              <span>意见反馈</span>
            </p>
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import LoginDialog from "@/components/LoginDialog";
  import utils from "@/utils/index";
  import Load from "@/components/Load";
  export default {
    data() {
      return {
        loading: true,
        jobSeek: [{
            leftText: "简历",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-resume.png?v=1.0",
            url: "/pages/job-seek/my-resume",
            rightText: ""
          },
          {
            leftText: "投递记录",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-delivery_record.png?v=1.0",
            url: "/pages/job-seek/my-send"
          },
          {
            leftText: "职位收藏",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-job_collect1.png?v=1.0",
            url: "/pages/job-seek/job-collection"
          }
        ],
        rec: [{
            leftText: "职位管理",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-resume.png?v=1.0",
            url: "/pages/recruit/job-manage"
          },
          {
            leftText: "简历管理",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-delivery_record.png?v=1.0",
            url: "/pages/recruit/rec-manage"
          },
          {
            leftText: "简历收藏",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-job_collect1.png?v=1.0",
            url: "/pages/recruit/resume-collection"
          },
          {
            leftText: "园所信息",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-farm.png?v=1.0",
            url: "/pages/recruit/school-desc",
            rightText: ""
          },
          {
            leftText: "招聘者身份",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-identity.png?v=1.1",
            url: "/pages/login/complete-info?showType=3",
            rightText: ""
          }
        ],
        common: [{
            leftText: "设置",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-setting.png?v=1.0",
            url: "/pages/public/setting"
          },
          {
            leftText: "联系客服",
            icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-service.png?v=1.0"
          }
          // { leftText: '下载app', icon: 'http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-download.png?v=1.0' },
        ],
        showDialog: false,
        progress: "",
        showResume: 1,
        privacy: {
          leftText: "隐私设置",
          icon: "http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-privacy.png?v=1.0",
          rightText: "",
          range: ""
        },
        identity_: 0,
        loading: true,
        resumeInfo: null,
        recruitInfo: null
      };
    },
    async onLoad() {
      const weicity = wx.getStorageSync("weicity") || null;
      if (!weicity) {
        const res = await utils.ajax("/weicity");
        wx.setStorageSync("weicity", res.data);
      }
    },
    onShow() {
      wx.setNavigationBarTitle({ title: "个人中心" });
      if (this.identity_ !== this.identity && this.identity_ !== 0) {
        //  身份状态变化时重新获取数据
        this.getData();
      }
    },
    computed: {
      //  用户信息：求职者状态显示简历信息，招聘者状态显示园所信息
      userInfo() {
        if (this.identity === 1) {
          if (this.$store.state.myresume.resumes) {
            return this.$store.state.myresume.resumes;
          } else if (this.resumeInfo) {
            let resume = this.resumeInfo;
            [resume.name, resume.user_images_src] = [resume.resumes_name, resume.resumes_images_src];
            return resume;
          }
        } else if (this.identity === 2) {
          if (this.$store.state.myschool) {
            return this.$store.state.myschool;
          } else if (this.recruitInfo) {
            let recruit = this.recruitInfo;
            [recruit.name, recruit.logo_src] = [recruit.school_name, recruit.school_logo_src];
            return recruit;
          }
        }
      },
      login() {
        return this.$store.state.login;
      },
      identity() {
        let identity;
        this.$store.state.userInfo.identity ?
          (identity = this.$store.state.userInfo.identity) :
          (identity = 1);
        return identity;
      }
    },
    watch: {
      login() {
        if (this.login) {
          this.showDialog = false;
        }
      }
    },
    methods: {
      edit: function () {
        if (!this.$store.state.login) {
          this.showDialog = true;
          return;
        } else if (Number(this.identity) === 1) {
          wx.navigateTo({
            url: `/pages/job-seek/my-resume?progress=${this.progress}`
          });
        } else if (Number(this.identity) === 2) {
          wx.navigateTo({ url: "/pages/recruit/school-desc" });
        }
      },
      set: function (item) {
        try {
          this.checkLogin();
        } catch (error) {
          return;
        }
        if (item.url) {
          wx.navigateTo({ url: item.url });
        }
      },
      privacySet: async function (e) {
        const code = this.privacy.range[Number(e.mp.detail.value)].code;
        const result = await utils.ajax(`/resumesstatus?status=${code}`);
        this.privacy.rightText = this.privacy.range[
          Number(e.mp.detail.value)
        ].name.substring(0, 4);
        utils.toast(this.privacy.rightText);
      },
      getData: async function () {
        utils.setTabBar(this.identity);
        this.identity_ = this.identity;
        const config = this.$store.state.config;
        if (this.identity === 1 && this.$store.state.login && !this.resumeInfo) {
          let result = await utils.ajax("/resumeindex");
          this.resumeInfo = result.data.indexdata;
          this.privacy.rightText = result.data.indexdata.resumes_status_name.substring(0, 4);
          this.jobSeek[0].url += "?progress=" + result.data.indexdata.completeness;
          this.progress = result.data.indexdata.completeness;
          this.jobSeek[0].rightText = Number(this.resumeInfo.isresumes) === 0 ? "待完善" : "";
          this.privacy.range = config.privacy;
        } else if (this.identity === 2 && this.$store.state.login && !this.recruitInfo) {
          const result = await utils.ajax("/gartenindex");
          this.recruitInfo = result.data.indexdata;
          this.$store.commit("setRecruiter", result.data.indexdata);
          Number(result.data.indexdata.status) === 1 ? "" : (this.rec[3].rightText = "待完善");
          result.data.indexdata.recruit_name ? "" : (this.rec[4].rightText = "待完善");
        }
        wx.stopPullDownRefresh();
        this.loading = false;
      },
      checkLogin: function () {
        if (this.$store.state.login) {
          return true;
        } else {
          this.showDialog = true;
          throw "未登录";
        }
      },
      closeSelf: function () {
        this.showDialog = false;
      }
    },
    components: {
      LoginDialog,
      Load
    }
  };
</script>