<style scoped lang='scss'>
  .root {
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    padding-bottom: 56px;
    .form-wrap {
      width: 100%;
    }
    .save {
      width: 600px;
      height: 95px;
      font-size: 38px;
      color: #fff;
      line-height: 95px;
      margin: 0 auto;
      order: 11;
      background-color: #00c168;
      border-radius: 100px;
      margin-top: 100px;
    }
  }
</style>
<template>
  <form class="root" @submit="submit">
      <SingleLine :input="input[0]" ></SingleLine>
      <Pick v-for="(item,indexs) in picker" :key="indexs" :options="item"></Pick>
      <LinkCell :options="address"></LinkCell>
      <SingleLine :input="input[1]" ></SingleLine>
      <button class="save" form-type="submit">保存</button>
  </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import SingleLine from '@/components/Input'
  import Pick from '@/components/Picker'
  import LinkCell from '@/components/LinkCell'
  export default {
    components: {
      SingleLine,
      Pick,
      LinkCell
    },
    async onLoad() { //  这里用onLoad是因为发现子组件的mounted在父组件之前，而mpvue的生命周期都是在onReady后执行的,本来应该放到created里但是mpvue的created是全局触发的
      this.init();
    },
    data() {
      return {
        input: [
          { title: '姓名', placeholder: '请填写, 15个字以内', name: 'name', order: 0, type: 'text', val: '' },
          { title: '联系方式', placeholder: '请填写手机号', name: 'phone', order: 10, type: 'number', val: '' }
        ],
        picker: [
          { title: '性别', mode: 'selector', order: 1, name: 'sex', range: [{ name: '男', code: 1 }, { name: '女', code: 2 }], val: '' },
          { title: '出生年月', mode: 'date', order: 2, name: 'birthday', start: '1960-01', end: '', val: '', fields: 'month' },
          { title: '最高学历', mode: 'selector', order: 3, name: 'educ', range: '', val: '' },
          { title: '工作经验', mode: 'selector', order: 3, name: 'experience', range: '', val: '' }
        ],
        address: { text: '工作地址', url: '/pages/public/region?type=2', val: '' }
      }
    },
    methods: {
      submit: function (res) {
        let form = res.mp.detail.value;
        form.address = this.address_watch.code;
        form.birthday = form.birthday + '-01';
        for (let item in form) {
          if (!utils.validate({ type: item, value: form[item] })) { return false; }
        }
        utils.ajax('/resumes', form);
        utils.toast('保存成功');
        setTimeout(() => {
          wx.navigateBack({ delta: 1 });
        }, 1000)
      },
      init: async function () { //  获取配置以及个人信息
        let result = this.$store.state.config;
        [this.picker[2].range, this.picker[3].range] = [result.educ, result.undergo];
        const year = new Date().getFullYear(),
          mounth = new Date().getMonth() >= 9 ? new Date().getMonth() + 1 : '0' + (new Date().getMonth() + 1),
          day = new Date().getDate() > 10 ? new Date().getDate() : '0' + new Date().getDate();
        const date = year + '-' + mounth + '-' + day;
        [this.picker[1].end, this.picker[1].start] = [date, year - 50 + '-01' + '-01'];
        let userInfo = this.$store.state.myresume;
        if (userInfo.resumes.name && userInfo.resumes.phone) {
          this.input.forEach((item, index) => {
            item.val = userInfo.resumes[item.name];
          });
          this.picker.forEach((item, index) => {
            if (item.name === 'birthday') {
              item.val = userInfo.resumes[item.name].split(' ')[0];
            } else {
              item.val = { name: userInfo.resumes[item.name], code: userInfo.resumes[item.name + '_code'] };
            }
          })
          this.address.val = userInfo.resumes.address;
        }
      }
    },
    computed: {
      address_watch() {
        if (this.$store.state.setAddress_temporary) {
          this.address.val = this.$store.state.setAddress_temporary.name;
          return this.$store.state.setAddress_temporary;
        } else {
          this.address.val = this.$store.state.myresume.resumes.address;
          return { name: this.$store.state.myresume.resumes.address, code: this.$store.state.myresume.resumes.address_code };
        }
      }
    },
    onUnload() {
      this.$store.commit('setAddress_temporary', null);
    }
  }
</script>