<style scoped lang='scss'>
  .root {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    .textarea-wrap {
      width: 100%;
      .title {
        margin: 30px 0;
        font-size: 32px;
        color: #2b2b2b;
      }
      .textarea {
        width: 100%;
        height: 360px;
        background-color: #f7f8fa;
        font-size: 30px;
        padding: 30px;
        box-sizing: border-box;
      }
    }
    .save {
      width: 600px;
      height: 95px;
      font-size: 38px;
      color: #fff;
      line-height: 95px;
      margin: 100px auto 0 auto;
      order: 11;
      background-color: #00c168;
      border-radius: 100px;
    }
    .del {
      width: 600px;
      height: 95px;
      font-size: 38px;
      line-height: 95px;
      margin: 50px auto 50px auto;
      order: 11;
      color: #00c168;
      border-radius: 100px;
      border: 1px solid #e0e0e0;
      border-radius: 100px;
    }
    .input-wrap {
      position: relative;
      border-bottom: 1px solid #e9e9e9;
      margin-top: 35px;
      width: 100%;
      padding-right: 30px;
      box-sizing: border-box;
      .input-type {
        font-size: 32px;
        color: #151515;
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        text-align-last: justify;
        text-align: justify;
        margin-top: 5px;
        &::after {
          content: '';
          width: 100%;
          display: inline-block;
        }
      }
      .input {
        padding-bottom: 25px;
        text-align: right;
        font-size: 30px;
        width: 100%;
        flex: 1;
        color: #666666;
      }
      .icon-arrow {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 16px;
        top: 20px;
      }
    }
  }
</style>
<template>
 <form class="root" @submit="submit">
    <a class="input-wrap" :href="undergo ? '/pages/job-seek/edit-resume/search-school?default=' + undergo.title : '/pages/job-seek/edit-resume/search-school'">
      <span class='input-type'>单位名称</span>
      <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png?v=1.0' alt='' class='icon-arrow' />
      <input type='text' class='input' disabled='true' placeholder='请选择' v-model='school.name' placeholder-style="color:#ccc;">
    </a>
    <SingleLine v-for="item in input" :key="item" :input="item"></SingleLine>
    <Pick v-for="item in pick" :key="item" :options="item" @date="date"></Pick>
    <div class="textarea-wrap">
      <div class="title">工作描述</div>
      <textarea name="synopsis" class="textarea" placeholder="简单介绍下工作内容" maxlength="1000" v-model.lazy="synopsis"></textarea>
    </div>
    <button class="save" form-type="submit">保存</button>
    <button class="del" @click="del" v-if="undergo">删除此项经历</button> 
 </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import Pick from '@/components/Picker'
  import SingleLine from '@/components/Input'
  export default {
    onLoad(options) {
      this.init(options.index);
    },
    components: {
      Pick,
      SingleLine
    },
    data() {
      return {
        input: [
          { title: '职位名称', placeholder: '请填写, 15个字以内', name: 'position', order: 0, type: 'text', val: '' }
        ],
        pick: [
          { title: '入职时间', mode: 'date', order: 0, name: 'start_time', range: '', val: '', fields: 'month', start: '', end: '' },
          { title: '离职时间', mode: 'date', order: 0, name: 'end_time', range: '', val: '', fields: 'month', start: '', end: '' },
        ],
        undergo: null,
        synopsis: ''
      }
    },
    methods: {
      init: function (index) {
        const undergo = this.$store.state.myresume.undergo[index],
          config = this.$store.state.config;
        this.undergo = undergo;
        const date = new Date().getFullYear() + '-' + (new Date().getMonth() + 1);
        this.$store.commit('selectSchool', { name: '' });
        if (undergo) {
          [undergo.start_time, undergo.end_time] = [undergo.start_time.split('-')[0], undergo.end_time.split('-')[0]];
          this.input.forEach(item => {
            item.val = undergo[item.name]
          });
          this.pick.forEach(item => {
            item.val = undergo[item.name];
          });
          [this.pick[0].end, this.pick[1].start] = [undergo.end_time, undergo.start_time];
          this.synopsis = undergo.synopsis;
          this.$store.commit('selectSchool', { name: undergo.title, id: undergo.school_id });
        }
      },
      submit: async function (e) {
        const form = e.mp.detail.value;
        if (!utils.validate(this.school && this.school.name.length > 0, '请填写单位名称')) { return false; }
        for (let i in form) {
          if (!utils.validate(form[i].length > 0, '还没填完哦！')) { return false; }
        }
        form.start_time = String(form.start_time).replace(/\./g, '-') + '-01';
        form.end_time = String(form.end_time).replace(/\./g, '-') + '-01';
        form.title = this.school.name;
        this.school.id ? form.school_id = this.school.id : form.school_id = 0;
        //  有ID就是修改
        if (this.undergo && this.undergo.id) {
          form.id = this.undergo.id;
        }
        await utils.ajax('/undergo', form);
        utils.toast('保存成功！')
        setTimeout(() => {
          wx.navigateBack({ delta: 1 });
        }, 1000);
      },
      del: async function () {
        wx.showModal({
          title: '提示',
          content: '确定删除此工作经历吗',
          showCancel: true,
          cancelText: '取消',
          cancelColor: '#c4c3c9',
          confirmText: '确定',
          confirmColor: '#00c168',
          success: res => {
            if (res.confirm) {
              let result = utils.ajax('/delundergo?detailsid=' + this.undergo.id);
              utils.toast('删除成功');
              setTimeout(() => {
                wx.navigateBack({ delta: 1 });
              }, 1000);
            }
          }
        });
      },
      date: function (param) {
        if (param.type === 'start_time') {
          this.pick[1].start = param.val;
        }
        if (param.type === 'end_time') {
          this.pick[1].defaultTime = param.val;
        }
      }
    },
    computed: {
      school() {
        return this.$store.state.school;
      }
    }
  }
</script>