<style scoped lang='scss'>
  .root {
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    display: block;
    .save {
      width: 600px;
      height: 95px;
      font-size: 38px;
      color: #fff;
      line-height: 95px;
      margin: 300px auto 0 auto;
      order: 11;
      background-color: #00c168;
      border-radius: 100px;
    }
  }
</style>
<template>
  <form class="root" @submit="submit">
    <Pick :options="pick[0]"></Pick>
    <LinkCell :options="pick[1]"></LinkCell>
    <Pick :options="pick[2]"></Pick>
    <button class="save" form-type="submit">保存</button>
  </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import Pick from '@/components/Picker'
  import LinkCell from '@/components/LinkCell'
  import { store } from '@/store/modules/index'
  export default {
    async onLoad() {
      this.init();
    },
    components: {
      Pick,
      LinkCell
    },
    data() {
      return {
        pick: [
          { title: '期望职位', mode: 'selector', order: 0, name: 'position', range: '', val: {} },
          { text: '期望城市', order: 0, val: '', placeholder: '选择期望城市', url: '/pages/public/search?edit=1' },
          { title: '期望薪资', mode: 'selector', order: 0, name: 'salary', range: '', val: {} }
        ]
      }
    },
    computed: {
      address() {
        if (this.$store.state.setAddress_temporary.name) {
          this.pick[1].val = this.$store.state.setAddress_temporary.name;
          return this.$store.state.setAddress_temporary;
        } else {
          this.pick[1].val = this.$store.state.myresume.resumes.city;
          return {
            name: this.$store.state.myresume.resumes.city,
            code: this.$store.state.myresume.resumes.city_code
          }
        }
      },
    },
    methods: {
      init: async function () { //  填写初始数据，格式化期望薪资数据结构
        const myResume = this.$store.state.myresume.resumes;
        this.pick.forEach(item => {
          if (item.name === 'salary') {
            item.val = { name: myResume[item.name] || '', code: myResume[item.name + '_s'] + ',' + myResume[item.name + '_e'] || '' };
          } else if (item.name === 'position') {
            item.val = { name: myResume[item.name] || '', code: myResume[item.name + '_code'] || '' };
          }
        });
        const config = this.$store.state.config;
        [this.pick[0].range, this.pick[2].range] = [config.position, config.expects_salary];
      },
      submit: async function (e) { //  提交与验证
        const form = e.mp.detail.value;
        [form.salary_s, form.salary_e, form.city] = [form.salary.split(',')[0], form.salary.split(',')[1], this.address.code];
        console.log(form.position);
        if (utils.validate(form.position >= 0, '请选择职位') && utils.validate(Number(form.city) >= 0, '请选择期望城市') && utils.validate(form.salary_s > 0 && form.salary_e > 0, '请选薪资期望')) {
          await utils.ajax('/expects', form);
          const subscription = {
            expectJob: {
              name: this.pick[0].val,
              code: form.position
            },
            expectCity: {
              name: this.pick[1].val,
              code: form.city
            }
          };
          store.commit('addCondition', subscription);
          utils.saveSuccess();
        }
      }
    }
  }
</script>