<style scoped lang='scss'>
  .root {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    .save {
      width: 600px;
      height: 95px;
      font-size: 38px;
      color: #fff;
      line-height: 95px;
      margin: 300px auto 0 auto;
      order: 11;
      background-color: #00c168;
      border-radius: 100px;
    }
    .del {
      width: 600px;
      height: 95px;
      font-size: 38px;
      line-height: 95px;
      margin: 50px auto 0 auto;
      order: 11;
      color: #00c168;
      border-radius: 100px;
      border: 1px solid #e0e0e0;
      border-radius: 100px;
    }
  }
</style>
<template>
  <form class="root" @submit="submit">
    <SingleLine v-for="item in input" :key="item" :input="item"></SingleLine>
    <Pick v-for="item in pick" :key="item" :options="item"></Pick>
    <button class="save" form-type="submit">保存</button>
    <button class="del" @click="del" v-if="educ">删除此项经历</button>
  </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import Pick from '@/components/Picker'
  import SingleLine from '@/components/Input'
  export default {
    onLoad(options) {
      this.init(options.index);
    },
    components: {
      Pick,
      SingleLine
    },
    data() {
      return {
        input: [
          { title: '学校名称', placeholder: '请填写, 15个字以内', name: 'school_name', order: 0, type: 'text', val: '' },
          { title: '所学专业', placeholder: '请填写, 15个字以内', name: 'school_major', order: 0, type: 'text', val: '' }
        ],
        pick: [
          { title: '入学时间', mode: 'date', order: 0, name: 'start_time', range: '', val: '', fields: 'month' },
          { title: '毕业时间', mode: 'date', order: 0, name: 'end_time', range: '', val: '', fields: 'month' },
          { title: '学历', mode: 'selector', order: 0, name: 'school_educ', range: '', val: '' },
        ],
        educ: null
      }
    },
    methods: {
      init: function (index) {
        const educ = this.$store.state.myresume.educ[index],
          config = this.$store.state.config;
        this.educ = educ;
        this.pick[2].range = config.educ;
        const date = new Date().getFullYear() + '-' + (new Date().getMonth() + 1);
        [this.pick[0].defaultTime, this.pick[1].defaultTime] = [date, date];
        if (educ) {
          [educ.start_time, educ.end_time] = [educ.start_time.split('-')[0], educ.end_time.split('-')[0]];
          this.input.forEach(item => {
            item.val = educ[item.name]
          });
          this.pick.forEach(item => {
            item.title === '学历' ? [item.val, item.val.name, item.val.code] = [{}, educ[item.name], educ[item.name + '_code']] : item.val = educ[item.name];
          });
        }
      },
      submit: async function (e) {
        const form = e.mp.detail.value;
        for (let i in form) {
          if (!utils.validate(form[i].length > 0, '还没填完哦！')) { return false; }
        }
        form.start_time = String(form.start_time).replace(/\./g, '-') + '-01'
        form.end_time = String(form.end_time).replace(/\./g, '-') + '-01'
        this.educ && this.educ.id ? form.id = this.educ.id : '';
        await utils.ajax('/educ', form);
        utils.saveSuccess();
      },
      del: async function () {
        wx.showModal({
          title: '提示',
          content: '确定删除此项教育经历吗',
          showCancel: true,
          cancelText: '取消',
          cancelColor: '#c4c3c9',
          confirmText: '确定',
          confirmColor: '#00c168',
          success: res => {
            if (res.confirm) {
              let result = utils.ajax('/deleduc?detailsid=' + this.educ.id);
              utils.toast('删除成功');
              setTimeout(() => {
                wx.navigateBack({ delta: 1 });
              }, 1000);
            }
          }
        });
      }
    },
    unLoad: function () {

    }
  }
</script>