<style scoped lang='scss'>
  .search-school {
    padding: 0 30px;
    box-sizing: border-box;
    .input {
      height: 97px;
      width: 100%;
      border: 1px solid #e9e9e9;
      border-radius: 2px;
      padding: 29px 24px;
      box-sizing: border-box;
      font-size: 30px;
      color: #2b2b2b;
      margin: 23px 0 53px 0;
    }
    .result-list {
      .result-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 26px;
        margin-bottom: 53px;
        .default-school {
          width: 96px;
          height: 96px;
          border-radius: 50%;
          margin-right: 15px;
        }
        .school-name {
          font-size: 34px;
        }
        .school-address {
          margin-top: 10px;
          font-size: 28px;
          color: #a3a3a3;
        }
      }
      .save {
        margin-bottom: 50px;
      }
      .fixed {
        position: fixed;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
</style>
<template>
  <div class="search-school">
    <input type="text" class="input" @input="input" v-model="keyWord" confirm-type="search" focus="true">
    <div class="result-list">
      <div class="result-item" v-if="resList.length === 0" @click="select(keyWord)">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-default_school.png" alt="" class="default-school">
        <p class="school-name">{{keyWord}}</p>
      </div>
      <div class="result-item" v-for="(item,index) in resList" :key="index" @click="select(item)">
        <img :src="item.logo_src" alt="" class="default-school" v-if="item.logo">
        <div class="name-wrap">
          <p class="school-name">{{item.name}}</p>
          <p class="school-address">武汉-东西湖</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import utils from '@/utils/index.js'
  export default {
    onLoad(options) {
      if (options.default) {
        this.keyWord = options.default;
        this.getData();
      }
    },
    data() {
      return {
        keyWord: '',
        timer: null,
        resList: [],
        page: 1
      }
    },
    methods: {
      input: function (e) {
        this.keyWord = this.keyWord.trim();
        if (!this.timer) {
          this.timer = setTimeout(async () => {
            if (this.keyWord.length > 0) {
              this.page = 1;
              this.getData();
            } else {
              this.resList = [];
            }
            clearTimeout(this.timer);
            this.timer = null;
          }, 500);
        }
      },
      getData: async function () {
        let res = await utils.ajax(`/getschool?search=${this.keyWord}&page=${this.page}`);
        this.page > 1 ? this.resList = this.resList.concat(res.data.data) : this.resList = res.data.data;
      },
      select: function (val) {
        if (val.length === 0) { utils.toast('请选择园所！'); return false; };
        if (typeof val === 'string') {
          val = {
            name: val,
            id: ''
          }
        }
        this.$store.commit('selectSchool', val);
        utils.saveSuccess();
      }
    }
  }
</script>