<template>
  <div class='cropper-wrap'>
    <div class="canvas-wrap">
      <mpvue-cropper ref='cropper' :option='cropperOpt' @ready='cropperReady' @beforeDraw='cropperBeforeDraw' @beforeImageLoad='cropperBeforeImageLoad' @beforeLoad='cropperLoad'></mpvue-cropper>
    </div>
    <div class='cropper-buttons'>
      <div class='upload' @click='uploadTap'>
        上传图片
      </div>
      <div class='getCropperImage' @click='getCropperImage'>
        确定
      </div>
    </div>
  </div>
</template>

<script>
  import MpvueCropper from 'mpvue-cropper';
  import qiniuUploader from '@/utils/qiniuUploader';
  import utils from '@/utils/index';
  import { store } from '@/store/modules/school-desc'
  let wecropper;
  export default {
    data() {
      return {
        cropperOpt: {
          id: 'cropper',
          width: 0,
          height: 0,
          scale: 2.5,
          zoom: 8,
          cut: {
            x: 0,
            y: 0,
            width: 300,
            height: 300
          }
        },
        uploadType: 1,
        src: ''
      };
    },

    components: {
      MpvueCropper
    },
    onLoad() {
      let width = wx.getSystemInfoSync().windowWidth,
        height = wx.getSystemInfoSync().windowHeight - 50;
      this.cropperOpt.height = height;
      this.cropperOpt.width = width;
      this.cropperOpt.cut.x = (width - 300) / 2;
      this.cropperOpt.cut.y = (height - 300) / 2;
    },
    methods: {
      cropperReady(...args) {},
      cropperBeforeImageLoad(...args) {},
      cropperLoad(...args) {},
      cropperBeforeDraw(...args) {
        // Todo: 绘制水印等等
      },
      uploadTap() {
        wx.chooseImage({
          count: 1, // 默认9
          sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
          sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
          success: res => {
            const src = res.tempFilePaths[0];
            //  获取裁剪图片资源后，给data添加src属性及其值
            wecropper.pushOrigin(src);
            this.src = src;
          }
        });
      },
      async getCropperImage() {
        wx.showLoading({ title: '上传中' });
        let token = await utils.ajax(`/qiniu?style=${this.uploadType}`);
        wecropper.getCropperImage().then(src => {
            if (this.src.length === 0) {
              utils.toast('请选择一张图片');
              return false;
            }
            // 交给七牛上传
            qiniuUploader.upload(src,
              async (res) => {
                // 用户上传头像
                let result = await utils.ajax(`/uptimages?style=${this.uploadType}&images=` + res.key);
                if (this.uploadType === 1) {
                  this.$store.commit('changeAvatar', { src: src, key: res.imageURL.replace('https', 'http') });
                }
                //  上传园所头像
                if (this.uploadType === 4) {
                  store.commit('uploadS', { src: src, key: res.imageURL.replace('https', 'http') })
                }
                //  上传园长头像
                if (this.uploadType === 2) {
                  store.commit('uploadP', { src: src, key: res.imageURL.replace('https', 'http') })
                }
                wx.navigateBack({ delta: 1 });
              }, (error) => {}, {
                region: 'ECN',
                domain: 'https://pbh6eyvmr.bkt.clouddn.com',
                uptoken: token.data.token
              },
              (res) => {
                wx.showLoading({
                  title: '上传中' + res.progress + '%',
                  mask: true,
                });
              });
          })
          .catch(e => {});
      }
    },
    mounted() { //  uploadType { 1:修改头像 2:园长头像 3：园所头像}
      wecropper = this.$refs.cropper;
      if (this.$root.$mp.query.uploadType) {
        this.uploadType = Number(this.$root.$mp.query.uploadType);
      }
    }
  };
</script>

<style>
  page {
    background: #333333;
  }

  .cropper-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #e5e5e5;
  }

  .canvas-wrap {
    z-index: 40;
    position: relative;
  }

  .cropper-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50PX;
    line-height: 50PX;
    z-index: 50;
  }

  .cropper-buttons .upload,
  .cropper-buttons .getCropperImage {
    width: 50%;
    text-align: center;
  }

  .cropper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cropper-buttons {
    background-color: rgba(0, 0, 0, 0.95);
    color: #04b00f;
    font-size: 32px;
  }
</style>