<style scoped lang='scss'>
  .region {
    .cell {
      font-size: 32px;
      color: #333;
      padding: 20px;
      border-bottom: #ddd solid 1px;
      &:active {
        opacity: 0.3;
      }
    }
  }
</style>
<template>
 <div class="region">
    <div class="cell" v-for="item in list" :key="item" @click="select(item)">{{item[0]}}</div>
 </div>
</template>

<script>
  import utils from '@/utils/index';
  import { store as postJob } from '@/store/modules/post-job'; //type: 0工作地址 
  import { store as schoolDesc } from '@/store/modules/school-desc'; //type: 1园所地址
  export default {
    data() {
      return {
        province: null,
        weicity: null,
        list: null,
        step: 0,
        sel_province: null,
        sel_city: null,
        sel_area: null,
        type: null
      }
    },
    async onLoad(options) {
      this.type = Number(options.type);
      const weicity = wx.getStorageSync('weicity') || null;
      if (!weicity) {
        const res = await utils.ajax('/weicity');
        this.list = res.data[0];
        this.weicity = res.data;
        wx.setStorageSync('weicity', this.weicity);
      }
      this.list = weicity[0];
      setTimeout(() => {
        this.weicity = weicity;
      }, 100);
    },
    methods: {
      select: function (item) {
        if (!this.weicity) { return; }
        if (this.step === 0) {
          if (this.weicity[1][item[1]].length > 1) {
            this.list = this.weicity[1][item[1]];
            ++this.step;
          } else if (this.weicity[1][item[1]].length === 1) {
            this.list = this.weicity[2][this.weicity[1][item[1]][0][1]];
            this.sel_city = this.weicity[1][item[1]][0];
            this.step += 2;
          }
          this.sel_province = item;
        } else if (this.step === 1) {
          this.list = this.weicity[2][item[1]];
          this.sel_city = item;
          ++this.step;
        } else if (this.step === 2) {
          this.sel_area = item;
          let address = {
            name: this.sel_province[0] + '-' + this.sel_city[0] + '-' + this.sel_area[0],
            code: [this.sel_province[1], this.sel_city[1], this.sel_area[1]]
          };
          if (this.type === 0) {
            postJob.commit('setAddress_temporary', address);
          } else if (this.type === 1) {
            schoolDesc.commit('setAddress_temporary', address);
          } else if (this.type === 2) {
            this.$store.commit('setAddress_temporary', address);
          }
          utils.saveSuccess();
        }
      }
    }
  }
</script>