<style scoped lang='scss'>
  .root {
    .reset-password {
      text-align: center;
      box-sizing: border-box;
      padding-top: 100px;
      margin-bottom: 140px;
      position: relative;
      .icon-wrap {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        .icon-clock {
          width: 104px;
          height: 131px;
        }
      }
    }
    .reset-phone {
      text-align: center;
      box-sizing: border-box;
      padding-top: 280px;
      margin-bottom: 140px;
      position: relative;
      width: 100%;
      .icon-wrap {
        position: absolute;
        left: 50%;
        top: 100px;
        transform: translateX(-50%);
        width: 100%;
        .icon-clock {
          width: 104px;
          height: 131px;
        }
        .current-phone {
          color: #c4c3c9;
          margin-top: 75px;
          font-size: 34px;
          line-height: 60px;
          letter-spacing: 2px;
        }
      }
    }
  }
</style>
<template>
 <div class="root">
     <div class="reset-password" v-if="type === 2">
       <div class="icon-wrap">
        <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-clock.png" alt="" class="icon-clock">
       </div>
        <Reset :reset="resetPw"></Reset>
     </div>
     <div class="reset-phone" v-if="type === 3">
       <div class="icon-wrap">
          <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-change_phone.png" alt="" class="icon-clock">
          <p class="current-phone">当前绑定的手机号为{{tel}}<br>更换后可用新手机号登录</p>
       </div>
       <Reset :reset="bindPhone"></Reset>
     </div>
 </div>
</template>

<script>
  import utils from '@/utils/index.js'
  import Reset from '@/components/Reset'
  export default {
    components: {
      Reset
    },
    onLoad(options) {
      [this.type, this.tel, this.resetPw.text, this.resetPw.phone] = [Number(options.type), options.tel || '', options.tel || '', options.phone];
      this.type === 3 ? wx.setNavigationBarTitle({ title: '绑定手机号' }) : wx.setNavigationBarTitle({ title: '重置密码' });
    },
    data() {
      return {
        type: 2, // 2:修改密码 3：修改手机号
        resetPw: { type: 2, text: '', btnText: '确认修改' },
        bindPhone: { type: 3, text: '请输入要绑定的手机号码', btnText: '立即绑定' },
        tel: ''
      }
    }
  }
</script>