<style>
  page {
    height: 100%;
  }
</style>

<style scoped lang='scss'>
  .root {
    height: 100%;
    position: relative;
    .search-module {
      height: 100%;
      padding-top: 100px;
      box-sizing: border-box;
      .search-header {
        height: 100px;
        width: 100%;
        box-shadow: 0 0px 30px rgba(26, 26, 26, 0.1);
        padding: 18px 32px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        background-color: white;
        .select-city {
          font-size: 28px;
          color: #333333;
          display: flex;
          align-items: center;
          margin-right: 40px;
          .icon-down {
            width: 21px;
            height: 12px;
            margin-left: 13px;
          }
        }
        .search-wrap {
          border-radius: 100px;
          overflow: hidden;
          position: relative;
          display: block;
          height: 64px;
          border: 1px solid #e9e9e9;
          flex: 1;
          input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 0 30px 0 80px;
            font-size: 28px; // text-indent: 50px;
          }
          .sub-btn {
            width: 24px;
            height: 26px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            background-image: url("http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-search.png");
            background-size: 100% 100%;
            z-index: 9;
          }
        }
        .filter-wrap {
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translateY(100%);
          width: 100%;
          height: 100px;
        }
        .lenovo-wrap {
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translateY(100%);
          width: 100%;
          background-color: white;
          padding: 0 30px 30px 30px;
          box-sizing: border-box;
          min-height: 100%;
          .lenovo-item {
            padding-bottom: 30px;
            border-bottom: 1px solid #e9e9e9;
            margin-top: 30px;
            &:last-of-type {
              border-bottom: none;
            }
            span {
              font-size: 28px;
              color: 30px;
              color: #2b2b2b;
            }
            .icon-search {
              width: 22px;
              height: 24px;
              margin-right: 40px;
            }
          }
        }
        .cancel {
          font-size: 30px;
          color: #333;
          margin-left: 21px;
        }
      }
      .search-body {
        background-color: #f7f8fa;
        height: 100%;
        z-index: 5;
        padding: 31px;
        padding-right: 12px;
        box-sizing: border-box;
        .search-options {
          margin-bottom: 71px;
          .options-title {
            font-size: 32px;
            color: #999;
            margin-bottom: 33px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding-right: 31px;
            .icon-delete {
              width: 29px;
              height: 34px;
            }
          }
          .options-wrap {
            display: flex;
            flex-wrap: wrap;
            .options-item {
              height: 66px;
              line-height: 66px;
              color: #666;
              border: 1px solid #eeeeee;
              padding: 0 28px;
              border-radius: 100px;
              font-size: 30px;
              background-color: white;
              margin-right: 18px;
              margin-bottom: 16px;
            }
          }
        }
      }
      .search-result {
        height: 100%;
        background-color: #fafafb;
        padding-top: 100px;
        box-sizing: border-box;
        .job-list {
          padding-top: 15px;
          box-sizing: border-box;
          background-color: #fafafb;
        }
        .none {
          text-align: center;
          font-size: 28px;
          color: #a6a6a6;
          margin-top: 300px;
        }
      }
    }
    .city-list {
      padding: 44px 0 30px 0;
      box-sizing: border-box;
      position: absolute;
      overflow: scroll;
      top: 0;
      left: 0;
      background-color: white;
      width: 100%;
      height: 100%;
      z-index: 10;
      .city-module {
        margin-bottom: 30px;
        .module-title {
          font-size: 30px;
          color: #aaa;
          margin-bottom: 45px;
          height: 50px;
          line-height: 50px;
          padding: 0 50px;
          box-sizing: border-box;
          color: #777777;
          letter-spacing: 5px;
        }
        .city-wrap {
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          padding: 0 30px;
          display: flex;
          justify-content: space-between;
          .city-item {
            font-size: 30px;
            color: #999;
            border: 1px solid #e9e9e9;
            border-radius: 100px;
            width: 190px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            margin-bottom: 30px;
          }
          .active {
            border-color: #00c168;
            background-color: #00c168;
            color: #fffefe;
          }
        }
      }
    }
    .mask {
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .fill {
      &::after {
        content: "";
        width: 190px;
      }
    }
  }
</style>
<template>
  <div class='root'>
    <!-- 搜索部分 -->
    <div class='search-module'>
      <div class='search-header'>
        <div class='select-city' @click='showCityList = true' v-if="!shwoResult">{{activeCity.name}}
          <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-downArrow.png' alt='' class="icon-down">
        </div>
        <form @submit='search' class="search-wrap">
          <input type='text' placeholder='请输入职位/园所名称' name='search' confirm-type='search' v-model="keyWords" @confirm="search" @input="match" :focus="!isSub && !isEdit? true :''">
          <button class='sub-btn' form-type='submit'></button>
        </form>
        <!-- 条件筛选框 -->
        <div class="filter-wrap" v-if='shwoResult'>
          <Filter :config='config.data.search' @confirm='formatParam'></Filter>
        </div>
        <!-- 搜索联系提示 -->
        <div class="lenovo-wrap" v-if="lenovo.length > 0">
          <div class="lenovo-item" v-for="(item,index) in lenovo" :key="index" @click="search(item.name)">
            <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-search.png" alt="" class="icon-search">
            <span>{{item.name}}</span>
          </div>
        </div>
        <div class='cancel' @click='cancel' v-if='!shwoResult'>取消</div>
      </div>
      <div class='search-body' v-if='!shwoResult'>
        <!-- 搜素历史 -->
        <div class='search-options' v-if="searchHistory.length > 0 && lenovo.length === 0">
          <div class='options-title'>搜索历史
            <img src='http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-del.png' alt='' class='icon-delete' @click='deleteHistory'>
          </div>
          <div class='options-wrap'>
            <div class='options-item' v-for='item in searchHistory' :key='item' @click='search(item)'>{{item}}</div>
          </div>
        </div>
        <!-- 热门园所以及热门职位 -->
        <div class='search-options' v-for='(hotItem, hotType) in hotSearch.data' :key='hotType' v-if="lenovo.length === 0">
          <div class='options-title'>{{hotType === 'position' ? '热门职位' : '热门园所'}}</div>
          <div class='options-wrap'>
            <div class='options-item' v-for='item in hotItem' :key='item' @click='search(item.name)'>{{item.name}}</div>
          </div>
        </div>
      </div>
      <!-- 搜索结果 -->
      <div class="search-result" v-if='shwoResult'>
        <div class="job-list" v-if='identity === 1 && shwoResult && searchResult.length > 0'>
          <JobList :jobList='searchResult'></JobList>
        </div>
        <div class="resume-list" v-if='identity === 2 && shwoResult && searchResult.length > 0'>
          <ResumeList :resumeList='searchResult'></ResumeList>
        </div>
        <p class="none" v-if="shwoResult && searchResult.length === 0">暂无符合条件的内容~</p>
      </div>
    </div>
    <!-- 城市选择列表 -->
    <div class='city-list' v-if='showCityList'>
      <div class='city-module' v-if="activeCity.name">
        <div class='module-title'>当前选择</div>
        <div class='city-wrap'>
          <div class='city-item active'>{{activeCity.name}}</div>
        </div>
      </div>
      <!-- 热门城市 -->
      <div class='city-module'>
        <div class='module-title'>热门城市</div>
        <div :class="['city-wrap',{'fill': cityHot.length % 3 === 2}]">
          <div :class="['city-item',{'active':activeCity.name === item.name}]" v-for='item in cityHot' :key='item' @click='selectCity(item)'>{{item.name}}</div>
        </div>
      </div>
      <!-- 可选城市 -->
      <div class='city-module' v-for="(value,key) in city" :key="key" v-if="value.length > 0">
        <div class='module-title'>{{key}}</div>
        <div :class="['city-wrap',{'fill': value.length % 3 === 2}]">
          <div :class="['city-item',{'active':activeCity.name === item.name}]" v-for='(item,index) in value' :key='index' @click='selectCity(item)'>{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import utils from "@/utils/index.js";
  import JobList from "@/components/JobList";
  import ResumeList from "@/components/ResumeList";
  import Filter from "@/components/Filter";
  import { store } from "@/store/modules/index";
  export default {
    async mounted() {
      let value = wx.getStorageSync("city") || { name: "全国", code: "0" };
      if (!this.isSub && !this.isEdit) {
        this.selectCity(value, true);
      }

      //  获取筛选配置，参数为当前所选城市的code值
      this.config = await utils.ajax("/searchlist?city=" + value.code);
      //  获取热门搜索
      this.$store.state.identity === 2 ?
        (this.hotSearch = await utils.ajax("/searchexpects")) :
        (this.hotSearch = await utils.ajax("/searchposition"));
    },
    data() {
      return {
        activeCity: "", //  当前选择城市(求职者状态)
        showCityList: false, // 是否显示选择城市列表(求职者状态)
        keyWords: "", // 搜索关键字
        searchResult: [], // 搜索结果，为空时显示没有找到内容提示
        shwoResult: false, // 控制结果显示
        config: "", // 筛选配置，传给Filter组件用
        hotSearch: "", //  热门搜索
        lenovo: [],
        filterParam: "",
        isSub: false, // 是否是从职位订阅进来选择城市
        isEdit: false // 是否是从求职意向进来选择城市
      };
    },
    computed: {
      searchHistory() {
        if (this.$store.state.searchHistory.length === 0) {
          this.$store.commit("getHistory");
        }
        return this.$store.state.searchHistory;
      },
      identity() {
        let identity;
        this.$store.state.userInfo.identity ?
          (identity = this.$store.state.userInfo.identity) :
          (identity = 1);
        return identity;
      },
      city() {
        let list = { ABCDEF: [], GHIJKL: [], MNOPQR: [], STUVWX: [], YZ: [] };
        const cityList = this.$store.state.config.citylist;
        for (let i in list) {
          for (let j in cityList) {
            if (i.indexOf(j) >= 0) {
              list[i] = list[i].concat(cityList[j]);
            }
          }
        }
        return list;
      },
      cityHot() {
        return this.$store.state.config.city_hot;
      }
    },
    methods: {
      selectCity: async function (city) {
        if (this.isSub) {
          store.commit("setExpectCity", city);
          wx.navigateBack({ delta: 1 });
          return;
        } else if (this.isEdit) {
          this.$store.commit("setAddress_temporary", city);
          wx.navigateBack({ delta: 1 });
          return;
        }
        this.activeCity = city;
        this.showCityList = false;
        this.cityCode = city.code;
        this.config = await utils.ajax("/searchlist?city=" + city.code);
        wx.setStorageSync("city", city);
      },
      //  删除历史记录
      deleteHistory: function () {
        wx.showModal({
          title: "提示",
          content: "确定删除全部搜索历史",
          showCancel: true,
          cancelText: "取消",
          cancelColor: "#000000",
          confirmText: "全部删除",
          confirmColor: "#3CC51F",
          success: res => {
            if (res.confirm) {
              this.$store.commit("emptyHistory");
            }
          }
        });
      },
      //  取消返回上一层
      cancel: function () {
        wx.navigateBack({
          delta: 1
        });
      },
      //  搜索
      search: async function (e) {
        wx.showNavigationBarLoading();
        typeof e === "string" ? (this.keyWords = e) : (e = "");
        this.lenovo = [];
        let value = `?city=${this.activeCity.code}&search=`,
          searchResult;
        value = value + this.keyWords + this.filterParam;
        e = this.keyWords + this.filterParam;
        if (this.keyWords === "") {
          wx.hideNavigationBarLoading();
          utils.toast("请输入关键字");
          return;
        }
        // if (value.length === 0 || !value) { utils.toast('请输入搜索内容'); return false; }
        //  历史记录的处理，因computed无法直接响应localstorage,所以通过vuex中转一道
        this.$store.commit("addHistory", this.keyWords);
        let url;
        this.identity === 2 ?
          (url = "/resumessearch") :
          (url = "/positionsearch");
        searchResult = await utils.ajax(url + value, true);
        this.searchResult = searchResult.data.data;
        this.shwoResult = true;
        wx.hideNavigationBarLoading();
      },
      formatParam: function (filter) {
        let city = filter["工作地点"].code || "",
          educ = filter["学历要求"].code || "",
          undergo_s = filter["经验要求"].undergo_s || "",
          undergo_e = filter["经验要求"].undergo_e || "",
          salary_s = filter["薪资范围"].salary_s || "",
          salary_e = filter["薪资范围"].salary_e || "";
        this.filterParam = "&city=" + city + "&educ=" + educ + "&undergo_s=" + undergo_s + "&undergo_s=" + undergo_e + "&salary_s=" + salary_s + "&salary_e=" + salary_e;
        if (this.keyWords === "") {
          utils.toast("请输入关键字");
          return;
        }
        this.search();
      },
      match: function (e) {
        // 输入内容为空时展现搜索界面
        const jobList = this.$store.state.config.position,
          val = e.mp.detail.value;
        if (val.length === 0) {
          this.shwoResult = false;
          this.lenovo = [];
          return;
        }
        if (!this.shwoResult) {
          jobList.forEach(item => {
            item.name.indexOf(val) >= 0 ? this.lenovo.push(item) : "";
          });
        }
      }
    },
    onLoad(options) {
      if (options.sub) {
        this.isSub = true;
        this.showCityList = true;
      }
      if (options.edit) {
        this.isEdit = true;
        this.showCityList = true;
      }
    },
    onShow() {
      //  职位订阅期望城市处理
      if (this.isSub) {
        const expectCity = store.state.condition.expectCity;
        expectCity.name && store.state.expectCity.name ? (this.activeCity = store.state.expectCity) : (this.activeCity = expectCity);
      }
      // 简历详情求职意向里期望城市处理
      if (this.isEdit) {
        const setAddress_temporary = this.$store.state.setAddress_temporary;
        setAddress_temporary.name && this.$store.state.myresume.resumes.city ? (this.activeCity = setAddress_temporary) :
          (this.activeCity = {
            name: this.$store.state.myresume.resumes.city,
            code: this.$store.state.myresume.resumes.city_code
          });
      }
    },
    components: {
      Filter,
      JobList,
      ResumeList
    }
  };
</script>