<style scoped lang='scss'>
  .root {
    padding: 0 40px;
    box-sizing: border-box;
    .options {
      padding: 50px 38px 50px 0;
      font-size: 32px;
      color: #151515;
      border-bottom: 1px solid #ececec;
      position: relative;
      display: flex;
      justify-content: space-between;
      display: flex;
      align-items: center;
      span:last-of-type {
        color: #a3a3a3;
        font-size: 30px;
      }
      &::after {
        content: "\00A0";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-arrow.png);
        width: 14px;
        height: 26px;
        background-size: 100% 100%;
      }
    }
    .exit {
      width: 100%;
      height: 100px;
      border: 1px solid #ededed;
      font-size: 32px;
      color: #ff6f58;
      text-align: center;
      line-height: 100px;
      border-radius: 2px;
      margin-top: 565px;
    }
  }
</style>
<template>
  <div class="root">
    <div class="options" @click="goReset(2)">修改密码</div>
    <div class="options" @click="goReset(3)">
      <span>修改绑定手机号</span>
      <span>{{tel}}</span>
    </div>
    <div class="options" @click="changeIdentity">切换到{{identity === 1 ? '求职版' : '招聘版'}}</div>
    <button class="exit" @click="logout">退出登录</button>
  </div>
</template>

<script>
  import utils from "@/utils/index.js";
  export default {
    data() {
      return {};
    },
    computed: {
      tel() {
        if (this.$store.state.userInfo && this.$store.state.userInfo.user) {
          const reg = new RegExp("(\\d{3})(\\d{4})(\\d{4})");
          return this.$store.state.userInfo.user.phone.replace(reg, "$1****$3");
        }
      },
      identity() {
        //  切换的身份
        let identity;
        this.$store.state.userInfo.identity === 1 ? identity = 2 : identity = 1;
        return identity;
      }
    },
    methods: {
      changeIdentity: function () {
        this.$store.dispatch("changeIdentity", this.identity);
      },
      goReset: function (type) {
        wx.navigateTo({
          url: `/pages/public/reset?type=${type}&tel=${this.tel}&phone=${this.$store.state.userInfo.user.phone}`
        });
      },
      logout: function () {
        wx.showModal({
          title: "退出登录",
          content: "确定退出登录吗",
          showCancel: true,
          cancelText: "取消",
          cancelColor: "#000000",
          confirmText: "确定",
          confirmColor: "#3CC51F",
          success: async res => {
            if (res.confirm) {
              let res = await utils.ajax("/logout");
              this.$store.commit("loginStatus", false);
              this.$store.commit("setUserInfo", {});
              wx.removeStorageSync("token");
              wx.switchTab({ url: "/pages/tab-bar/my" });
            }
          }
        });
      }
    }
  };
</script>