<style>
  page {
    height: 100%;
  }
</style>
<style scoped lang='scss'>
  .root {
    background-color: #f7f8fa;
    height: 100%;
    display: block;
    .textarea-wrap {
      padding: 40px 30px 0 30px;
      box-sizing: border-box;
      background-color: #fff;
      .textarea {
        height: 455px;
        width: 100%;
        font-size: 32px;
        line-height: 64px;
        color: #666;
      }
      .tips-wrap {
        border-top: 1px solid #ececec;
        padding: 25px 0;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100;
        position: relative;
        .tips-btn {
          color: #ff6f58;
          text-decoration: underline;
        }
        span:last-of-type {
          color: rgba(43, 43, 43, 0.6);
        }
        .tips {
          width: 690px;
          background-color: #00c168;
          border-radius: 20px;
          position: absolute;
          top: 126px;
          box-sizing: border-box;
          padding: 26px 30px;
          color: white;
          transition: all 0.3s;
          transform: scale(0.1);
          transform-origin: 0 0;
          opacity: 0;
          .icon-up_arrow {
            width: 31px;
            height: 17px;
            position: absolute;
            left: 38px;
            top: -13px;
          }
          .title {
            font-size: 30px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 25px;
            border-bottom: 1px solid #3dd0af;
            span {
              color: white !important;
            }
            .btn-wrap {
              .change {
                margin-right: 65px;
              }
            }
          }
          .content {
            max-height: 200px;
            line-height: 48px;
            color: white;
            padding-top: 23px;
            overflow: scroll;
            box-sizing: border-box;
          }
        }
        .showTips {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    .save {
      width: 600px;
      height: 95px;
      font-size: 38px;
      color: #fff;
      line-height: 95px;
      margin: 450px auto 0 auto;
      order: 11;
      background-color: #00c168;
      border-radius: 100px;
    }
  }
</style>
<template>
  <form class="root" @submit="submit">
    <div class="textarea-wrap">
      <textarea name="synopsis" maxlength="1000" class="textarea" :placeholder="placeholder" v-model='textareaText'></textarea>
      <div class="tips-wrap">
        <span @click="showTips = !showTips" class="tips-btn">看看别人怎么写的</span>
        <span>{{textareaText.length}}/1000</span>
        <div :class="[showTips ? 'showTips':'','tips']">
          <img src="http://pbfxf49sx.bkt.clouddn.com/miniApp/img/icon-up_arrow.png?v=1.1" alt="" class="icon-up_arrow">
          <div class="title">
            <span>{{tips.title}}</span>
            <div class="btn-wrap">
              <span class="change" @click.stop="change">换一个</span>
              <span class="use" @click.stop="textareaText = tips.message">使用</span>
            </div>
          </div>
          <p class="content"><text>{{tips.message}}</text></p>
        </div>
      </div>
    </div>
    <button class="save" form-type="submit">保存</button>
  </form>
</template>

<script>
  import utils from '@/utils/index.js'
  import { store } from '@/store/modules/post-job'
  export default {
    async onLoad(options) {
      if (options.job) {
        const result = await utils.ajax('/jobdata');
        [this.tipsList, this.tips] = [result.data, result.data[0]];
        this.placeholder = '请输入岗位职责、任职要求等，至少20个字，建议使用短句分 条列出，如  岗位职责： 1、... 2、... 任职要求： 1、.';
        this.isJobDesc = true;
        wx.setNavigationBarTitle({
          title: '职位描述',
        });
        if (store.state.jobDesc.length > 0) {
          this.textareaText = store.state.jobDesc;
        }
      } else {
        const result = await utils.ajax('/selfdata');
        [this.tipsList, this.tips] = [result.data, result.data[0]];
        console.log(this.$store.state.myresume)
        if (this.$store.state.myresume.resumes.synopsis && this.$store.state.myresume.resumes.synopsis.length > 0) {
          this.textareaText = this.$store.state.myresume.resumes.synopsis;
        }
      }
    },
    data() {
      return {
        tipsList: '',
        tips: {},
        textareaText: '',
        showTips: false,
        placeholder: '对自己所一个简短评价，简明扼要的描述民所拥有的特长、技能和经验以及在之前工作中积累的职业优势，可以根据招聘方的要求正对性的罗列，方便用人单位快速的了解您！',
        isJobDesc: false
      }
    },
    methods: {
      change: function () {
        let index = this.tipsList.indexOf(this.tips) + 1;
        index >= this.tipsList.length ? index = 0 : '';
        this.tips = this.tipsList[index];
      },
      submit: async function (e) {
        if (this.isJobDesc) {
          //职位描述
          store.commit('addJobDesc', e.mp.detail.value);
        } else {
          //自我描述
          const form = e.mp.detail.value;
          if (!utils.validate(form.synopsis.length > 0, '请填写自我描述')) { return false; }
          await utils.ajax('/synopsis', form);
        }
        utils.toast('保存成功！');
        setTimeout(() => {
          wx.navigateBack({ delta: 1 });
        }, 1000);
      }
    }
  }
</script>