<script>
  import utils from '@/utils/index'
  export default {
    onError(err) {
      console.log('全局的错误捕捉', err)
    }
  }
</script>

<style lang='scss'>
  page {
    // height: 100%;
    font-family: sans-serif !important;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
    line-height: normal;
  }

  button::after {
    border: none;
  }

  form {
    display: block;
  }

  .save {
    width: 600px;
    height: 95px;
    font-size: 38px;
    color: #fff;
    line-height: 95px;
    margin: 0 auto;
    order: 11;
    background-color: #00c168;
    border-radius: 100px;
    text-align: center;
  }

  .navigator-hover {
    background-color: transparent;
    opacity: 1 !important;
  }
</style>